@keyframes rotateLabel
  0%
    transform: rotateX(-90deg)
  100%
    transform: rotateX(0)

.promo
  background-color: #ede9e8
  max-width: 1655px
  margin: 0 auto 40px
  padding: 10px 10px 30px
  +rmin($screen-md)
    padding-bottom: 80px
  &-navigation
    +clr()
  +rmin($screen-md)
    padding-left: 50px
    padding-right: 45px
    background: #ede9e8 url(../images/newspaper.jpg) no-repeat center / 100% 100%
  +rmin($screen-lg)
    padding-left: 70px
    padding-right: 65px
  &-top
    &-link
      display: block
      text-decoration: none
      position: relative
      margin: 40px 0
      border-bottom: 1px solid #c2bfbf
      color: inherit
      .wrap
        position: relative
        padding-top: 22px
      +rmin($screen-sm)
        float: left
        width: 33.3333%
        border-bottom: 0
        padding-left: 20px
        padding-right: 20px
        padding-bottom: 10px
        &:first-child
          padding-left: 0
        &:last-child
          padding-right: 0
          .wrap:after
            display: none
        &:after
          content: ''
          position: absolute
          height: 5px
          left: 0
          bottom: 0
          width: 100%
          border-top: 1px solid #777574
          border-bottom: 1px solid #bdbab9
          +tr()
      +rmin($screen-md)
        padding-left: 40px
        padding-right: 40px
      .wrap:before
        content: ''
        width: 30px
        height: 30px
        position: absolute
        left: 0
        top: 0
        background: url(../images/newspaper.svg) no-repeat center
        opacity: .4
        +tr()
      .wrap:after
        content: ''
        width: 1px
        height: 80px
        position: absolute
        right: -10px
        top: 4px
        background-color: #c0bfbf
        +rmin($screen-md)
          right: -40px
      &:before
        content: ''
        position: absolute
        height: 5px
        left: 4px
        bottom: -33px
        width: 34px
        height: 38px
        background-image: url(../images/label.png)
        transform: rotateX(-90deg)
        transform-origin: 50% 0
        display: none
        animation: rotateLabel 1s 1.4s both
      h3
        margin-bottom: 0
        margin-bottom: -6px
        +rmin($screen-md)
          font-size: 24px
      p
        margin-top: 0
        text-decoration: underline
        color: $color-blue
        +georgia()
      img
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
        opacity: .6
        +tr()
        +gray()
      &.active
        &:after
          background-color: #242323
          border-top: #242323
          border-bottom: #242323
        &:before
          display: block
        .wrap:before
          opacity: 1
        h3
          font-weight: 700
        p
          color: #383838
          text-decoration: none
        img
          filter: none
          opacity: 1
        &:nth-child(2)
          &:before
            background-image: url(../images/label-yellow.png)
      &:hover
        .wrap:before
          opacity: 1
        p
          color: #383838
          text-decoration: none
        img
          filter: none
          opacity: 1
  &-middle
    +clr()
  &-leftside, &-center, &-rightside
    +rmin($screen-sm)
      float: left
      width: 33.3333%
  &-leftside
    padding-top: 20px
    margin-bottom: 30px
    +rmin($screen-sm)
      padding-right: 20px
      margin-bottom: 0
    h1
      font-size: 30px
      max-width: 430px
      margin-top: 0
      line-height: 1.2
      +rmin($screen-sm)
        font-size: 28px
      +rmin(1000px)
        font-size: 30px
      +rmin($screen-lg)
        font-size: 38px
    &-lined
      padding-bottom: 22px
      padding-top: 20px
      border-top: 2px solid #222121
      border-bottom: 2px solid #222121
      text-align: center
      +rmin($screen-lg)
        display: inline-block
        max-width: 460px
        width: 100%
        text-align: left
    &-additional
      padding-top: 10px
      padding-right: 20px
      h4
        font-size: 17px
    &-list
      li
        position: relative
        padding-left: 50px
        padding-top: 14px
        padding-bottom: 14px
        font-size: 15px
        +rmin($screen-md)
          font-size: 17px
        img
          position: absolute
          left: 0
          top: 50%
          margin-top: -17px
          border-radius: 50%
          overflow: hidden
    .btn
      width: 185px
      vertical-align: top
      display: block
      margin: 10px auto 0
      +rmin($screen-lg)
        margin-left: 24px
        display: inline-block
        margin-top: 2px
    +rmin($screen-sm)
      border-right: 1px solid #bdbaba
  &-center
    position: relative
    text-align: center
    .wrap
      position: relative
      display: inline-block
      margin-left: -30px
      +rmin($screen-lg)
        margin-left: 0
    .num
      position: absolute
      background-color: $color-red
      width: 20px
      height: 20px
      border-radius: 50%
      left: 0
      top: 0
      text-align: center
      font-size: 15px
      z-index: 10
      color: white
      font-size: 13px
      &1
        top: 19%
        left: 22%
      &2
        top: 36%
        left: 31%
      &3
        top: 52%
        left: 27%
      &4
        top: 72%
        left: 73%
      &5
        top: 80%
        left: 84%
    .lines
      position: absolute
      left: 24%
      top: 0
      display: none
      +rmin($screen-lg)
        display: block
  .item-features-list
    max-width: 340px
    padding-bottom: 10px
    +rmin($screen-md)
      margin-left: 40px
    +counter(list1, "")
    li
      display: table
      width: 100%
      margin: 14px 0
      position: relative
      &:before
        position: absolute
        background-color: #fff
        width: 26px
        height: 26px
        border: 1px solid #b0b0b0
        border-radius: 50%
        left: -10px
        top: 50%
        margin-top: -16px
        text-align: center
        padding-top: 1px
        font-size: 15px
        color: $color-red
    img
      border-radius: 50%
      overflow: hidden
    .ic-wrap
      width: 69px
      text-align: center
    .ic-wrap, .text
      display: table-cell
      vertical-align: middle
    .text
      padding-left: 20px
  &-video
    padding-top: 20px
    border-top: 1px solid #bdbab9
    position: relative
    text-align: center
    &-explain
      text-align: center
      color: $color-yellow
      margin-bottom: 10px
      +georgia()
      +rmin($screen-lg)
        position: absolute
        right: 30px
        width: 130px
        text-align: left
        top: 60px
    +rmin($screen-lg)
      padding-left: 30px
      text-align: left
  &-bottom
    text-align: center
    border-top: 1px solid #a9a4a2
    padding-top: 14px
    margin-top: 12px
    position: relative
    +rmin($screen-sm)
      text-align: left
    +rmin($screen-lg)
      text-align: center
    &-link
      text-decoration: none
      color: inherit
      display: block
      margin: 10px 0
      +tr()
      +georgia()
      .circle
        width: 40px
        height: 40px
        border-color: $color-red
      span
        margin-left: 12px
        text-decoration: underline
      &:hover
        .circle
          background-color: $color-red
          svg path
            fill: white
        span
          text-decoration: none
      +rmin($screen-sm)
        display: inline-block
        padding: 0 30px
        position: relative
        &:nth-child(2):after
          content: ''
          width: 1px
          height: 22px
          position: absolute
          left: 0
          top: 50%
          margin-top: -11px
          background-color: #c0bfbf
          display: none
          +rmin($screen-md)
            display: block
  .share-block
    margin-top: 10px
    +rmin($screen-md)
      margin-top: 0
      position: absolute
      right: 40px
      top: 28px
  &-pravda
    .promo-leftside-additional
      h4
        color: #000
        opacity: 1
        font-weight: 400
        font-size: 19px
        margin-bottom: 0
      p
        margin-top: 10px
        margin-bottom: 0
      +rmin($screen-lg)
        padding-right: 100px
    .promo-bottom-link
      span
        margin-left: 0
      .circle
        margin-left: 14px
        border: 1px solid #ffa200
        background-color: #f4f2f1
      svg path
        fill: #ea8400
      &:hover
        .circle
          background-color: #ffa200
          border-color: #ffa200
        svg path
          fill: white
    .item-features-list
      max-width: 400px
      position: relative
      li
        margin: 30px 0
        .text
          padding-left: 80px
          color: #141414
          opacity: .9
        &:before
          width: 58px
          height: 58px
          line-height: 55px
          top: 10px
          left: 0
          color: $color-yellow
        &:last-child
          &:after
            content: ''
            width: 41px
            height: 1px
            opacity: 0
            position: absolute
            top: 80px
            left: 270px
            display: none
            background-image: url(../images/curve-arr-orange.png)
            background-position: 0 0
            +tr(all 1s 7s)
            +rmin($screen-lg)
              display: block
        &.aos-animate:after
          height: 150px
          opacity: 1
  .ready-book-link
    text-align: center
    display: block
    text-decoration: none
    margin-bottom: 40px
    svg
      margin-right: 12px
    svg path
      fill: #ed8a33
    .text
      line-height: .9
      vertical-align: top
      position: relative
      top: 2px
      display: inline-block
      border-bottom: 1px dotted $color-blue
    &:hover
      span
        border-color: transparent
    +rmin($screen-lg)
      display: inline-block
      padding-left: 120px

.ruble
  font-family: 'ruble'
  font-style: normal
  margin-left: 5px

/* start share-block */
.share-block
  .share-text
    font-size: 15px
    display: inline-block
    vertical-align: middle
    margin-right: 20px
    svg
      position: relative
      top: -1px
      display: inline-block
      margin-right: 6px
      path
        fill: $color-red
  .ya-share2
    display: inline-block
    vertical-align: middle
/* end share-block */

.js-line1
  stroke-dasharray: 466
  stroke-dashoffset: 466
  animation: dash 2s 3.4s both
.js-line2
  stroke-dasharray: 426
  stroke-dashoffset: 426
  animation: dash 2s 4.4s both
.js-line3
  stroke-dasharray: 433
  stroke-dashoffset: 433
  animation: dash 2s 5.4s both
.js-line4
  stroke-dasharray: 255
  stroke-dashoffset: 255
  animation: dash 2s 6.4s both
.js-line5
  stroke-dasharray: 153
  stroke-dashoffset: 153
  animation: dash 2s 7.4s both

/* start gallery */
.gallery
  background-color: #eae8e4
  padding: 20px 0
  text-align: center
  overflow: hidden
  +rmin($screen-sm)
    padding-top: 40px
  .container
    max-width: 1400px
  .section-heading
    padding-bottom: 14px
    &:after
      content: ''
      position: absolute
      width: 1px
      height: 1px
      left: 50%
      bottom: 0
      background-color: #b1afac
      transform: translateX(-50%)
      opacity: 0
      +tr(all 1s 0.7s)
    &.aos-animate:after
      width: 100%
      opacity: 1
  h4
    margin: 0
    font-size: 19px
    color: #191919
  p
    color: #383838
    margin-top: 4px
  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active)
    background-color: #efeeec
    border-color: #848381

.gallery-slider
  text-align: center
  padding-bottom: 40px
  .pic-big, .pic-group
    display: inline-block
    vertical-align: top
    text-align: center
    margin: 20px 0
    +rmin($screen-sm)
      margin: 0
  .pic-group
    margin-bottom: 0
  .pic-big, .pic-mini
    position: relative
    &:after
      content: ''
      left: 50%
      height: 100%
      top: 0
      width: 94%
      transform: translateX(-50%)
      box-shadow: 0 4px 10px 0 rgba(black, 0.4)
      position: absolute
    img
      display: block
    &:before
      content: ''
      width: 100%
      height: 100%
      background: url(../images/frame-big.png) no-repeat center / 100% 100%
      position: absolute
      left: 0
      top: 0
  .pic-big
    padding: 23px
    +rmin($screen-sm)
      width: 306px
      padding: 10px
    +rmin($screen-lg)
      width: auto
      padding: 23px
  .pic-group
    width: 100%
    max-width: 400px
    +rmin($screen-lg)
      max-width: 570px
  .pic-mini
    padding: 15px
    display: inline-block
    margin: 0 3px 3px
    width: 160px
    +rmin($screen-lg)
      margin: 0 4px 10px
      width: auto
    &:before
      background-image: url(../images/frame-mini.png)
/* end gallery */

.lamps
  height: 70px
  max-width: 985px
  margin: 30px auto 6px
  position: relative
  z-index: 10
  display: none
  +rmin($screen-sm)
    display: block
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: url(../images/lamp-holder.png) no-repeat center top
    z-index: 5

.lamp
  width: 271px
  height: 122px
  position: absolute
  top: -5px
  left: -128px
  background-image: url(../images/lamp.png)
  &-center
    left: 50%
    margin-left: -130px
  &-right
    left: auto
    right: -133px

/* start reviews */
.reviews
  padding: 40px 0 70px
  text-align: center
  overflow: hidden
  border-bottom: 1px solid #e4e4e4
  +rmin($screen-sm)
    padding-top: 50px
  &-top
    position: relative
    padding-bottom: 20px
    margin-bottom: 20px
    &:after
      content: ''
      position: absolute
      height: 5px
      left: 0
      bottom: 0
      width: 100%
      border-top: 1px solid #777574
      border-bottom: 1px solid #bdbab9
    &:before
      content: ''
      position: absolute
      height: 5px
      left: 50%
      bottom: 0
      width: 1px
      background-color: #f15b43
      opacity: 0
      transform: translateX(-50%)
      z-index: 2
      +tr(all 1s 0.8s)
    .section-heading
      margin-bottom: 10px
    &.aos-animate:before
      opacity: 0.9
      width: 502px
  &-yellow
    .reviews-top
      &:before
        background-color: $color-yellow
    .leave-review-link
      .text
        color: $color-yellow
        border-color: $color-yellow
      &:hover
        .circle
          border-color: $color-yellow
          background-color: $color-yellow

.leave-review-link
  color: $color-red
  +rmin($screen-sm)
    position: absolute
    right: 0
    top: 12px
  .circle
    width: 40px
    height: 40px
    margin-right: 10px
  .text
    font-weight: 700
  &:hover
    .circle
      background-color: $color-red
      border-color: $color-red
    svg path
      fill: white

.reviews-slider
  padding-bottom: 60px
  margin: 0 auto
  max-width: 1750px

.all-reviews-link
  text-decoration: none
  border-bottom: 1px solid #b3b3b3
  padding-bottom: 20px
  max-width: 352px
  display: block
  margin: 0 auto
  span
    text-decoration: underline
  &:hover
    span
      text-decoration: none

.reviews-item
  font-size: 15px
  max-width: 380px
  text-align: left
  padding-top: 20px
  padding-bottom: 20px
  padding-left: 15px
  padding-right: 15px
  margin: 0 auto
  +tr(all 1s)
  +rmin($screen-sm)
    font-size: 15px
    padding-left: 40px
    padding-right: 40px
  +rmin($screen-lg)
    font-size: 17px
  h4
    margin-bottom: 10px
    position: relative
    font-weight: 700
    font-size: 19px
    margin-top: 18px
    padding-bottom: 10px
    &:after
      content: ''
      position: absolute
      height: 2px
      left: 0
      bottom: 0
      width: 185px
      background-color: #333333
  p
    color: rgba(#191919, 0.9)
    line-height: 1.5

.date
  font-size: 15px
  color: rgba(#383838, 0.8)
  .icon
    margin-right: 4px
/* end reviews */

/* start action-section */
.action-section
  position: relative
  padding-top: 70px
  z-index: 10
  text-align: center
  margin-bottom: 40px
  .circle-present
    width: 90px
    height: 90px
    z-index: 10
    top: -45px
    margin-left: -45px
    left: 50%
    border: 1px solid $color-red
    border-radius: 50%
    position: absolute
    background: white url(../images/present.svg) no-repeat center
  .section-heading
    line-height: 1.2
    position: relative
  &-book
    .container
      max-width: 1000px
    .circle-present
      border-color: $color-yellow
      background-image: url(../images/present-yellow.svg)
    .section-heading
      padding-bottom: 24px
      &:after
        content: ''
        position: absolute
        left: 50%
        bottom: 0
        height: 1px
        width: 322px
        margin-left: -161px
        background-color: #8c8c8c
/* end action-section */

.video
  text-align: center
  max-width: 1005px
  padding-bottom: 90px
  padding-top: 17px
  margin: 0 auto
  background: url(../images/stand.jpg) no-repeat center bottom
  position: relative
  &-top
    background: url(../images/stand-top.png) no-repeat center / 100% 100%
    position: absolute
    height: 18px
    width: 100%
    top: 0
    left: 0
  &-content
    position: relative
    height: 0
    padding-bottom: 58%
    margin-left: 5px
    margin-right: 5px
    +rmin($screen-sm)
      margin-left: 10px
      margin-right: 10px
  &-bottom
    background: url(../images/stand-bottom.png) no-repeat center / 100% 100%
    position: absolute
    height: 9px
    bottom: 83px
    width: 100%
    left: 0
  iframe
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%

/* start features */
.features
  background-color: #fbe0cc
  padding: 30px 0 20px
  text-align: center
  .container
    max-width: 1300px
  svg path
    fill: #ef472b
.feature
  max-width: 350px
  width: 100%
  margin-bottom: 40px
  margin-left: auto
  margin-right: auto
  .circle
    width: 135px
    height: 135px
    border-color: #ef472b
    text-align: center
    &-text
      color: #e83214
      font-size: 39px
      font-weight: 300
      height: 120px
      line-height: 116px
      span
        font-size: 23px
        margin-left: 4px
    .inner
      background-color: #fff
      border: 1px solid #e2897a
      border-radius: 50%
      height: 120px
      width: 120px
      margin: 0 auto
      margin-top: 7px
  p
    font-size: 15px
    font-size: 1.6
    +rmin($screen-lg)
      font-size: 17px

/* end features */

/* start process-steps */
.process-steps
  background-color: #eae8e4
  padding: 40px 0
  text-align: center
  .container
    max-width: 1710px
    margin: 0 auto

.process-step
  text-align: center
  width: 270px
  display: inline-block
  font-size: 15px
  margin: 40px 0
  vertical-align: top
  padding-left: 15px
  padding-right: 15px
  position: relative
  &:before
    content: ''
    position: absolute
    top: 35px
    left: 0
    width: 100%
    height: 1px
    background-color: #d1cfcc
    display: none
    +rmin($screen-sm)
      display: block
  &:after
    content: ''
    position: absolute
    top: 29px
    right: 0
    width: 6px
    height: 13px
    background: url(../images/arr-micro-right.png) no-repeat center
    z-index: 1
    display: none
    +rmin($screen-sm)
      display: block
  &:last-child:after
    display: none
  .circle
    margin-bottom: 20px
    border-color: #909090
    width: 70px
    height: 70px
    background-color: #fff
    line-height: 68px
    +georgia()
    font-size: 19px
  +rmin($screen-sm)
    width: 20%
    margin-left: 0
    margin-right: -6px
  +rmin($screen-lg)
    padding-left: 30px
    padding-right: 30px
/* end process-steps */

/* start deadlines */
.deadlines
  text-align: center
  padding: 40px 0
  .section-heading
    margin-bottom: 20px
  &-bottom
    .btn
      width: 235px

.deadline
  display: block
  width: 100%
  margin: 70px 0
  border: 3px solid #777777
  position: relative
  padding-left: 20px
  padding-right: 20px
  text-align: left
  padding-top: 50px
  padding-bottom: 40px
  +rmin($screen-sm)
    width: 400px
    display: inline-block
    margin: 40px 20px
    padding-left: 48px
    padding-right: 48px
  +rmin($screen-md)
    width: 490px
  &:before
    content: ''
    width: 70px
    height: 70px
    z-index: 10
    top: -35px
    margin-left: -35px
    left: 50%
    border: 1px solid #505050
    border-radius: 50%
    position: absolute
    background: white url(../images/bell.svg) no-repeat center
  &-red
    border-color: #f15c44
    &:before
      background-image: url(../images/clock-speed.svg)
      border-color: $color-red
    .deadline-top
      h3
        color: $color-red
  &-delivery
    h4
      font-weight: 700
      margin-bottom: 0
    &-block
      padding: 20px 0
      opacity: .9
      p
        margin-bottom: 6px
        margin-top: 0
      a
        display: block
      &.middle
        border-top: 1px solid #b7b7b7
        border-bottom: 1px solid #b7b7b7
  .top
    text-align: center
    padding-bottom: 22px
    margin-bottom: 20px
    position: relative
    &:before
      content: ''
      width: 184px
      height: 2px
      z-index: 10
      margin-left: -92px
      bottom: 0
      left: 50%
      position: absolute
      background: #333333
    h3
      margin: 0
      font-size: 26px
    p
      margin: 0
      font-size: 19px
      +georgia()
      +rmin($screen-sm)
        margin-top: -4px
/* end deadlines */

/* start items-showcase */
.items-showcase
  text-align: center
  .group
    +clr()

.showcase-item
  position: relative
  background-color: #fff
  padding: 40px 0
  &-gray
    background-color: #eae8e4
  +rmin($screen-sm)
    float: left
    width: 50%
    height: 505px
    padding-bottom: 0
  .img
    +rmin($screen-sm)
      height: 300px
      position: relative
      img
        margin: auto
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: auto
    &-shifted
      position: relative
      left: 100px
      top: 30px
  .overlay
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(black, 0.7)
    display: table
    color: white
    padding-left: 30px
    padding-right: 30px
    font-size: 16px
    opacity: 0
    +tr()
    .inner
      display: table-cell
      vertical-align: middle
      opacity: 0
      +tr(all 0.8s)
      transform: translateY(100px)
      p
        max-width: 700px
        margin: 0 auto 40px
      .btn
        width: 230px
    +rmin($screen-sm)
      padding-left: 30px
      padding-right: 30px
    +rmin($screen-lg)
      font-size: 17px
  h4
    font-size: 25px
    margin-top: 10px
    padding-bottom: 14px
    position: relative
    &:after
      content: ''
      width: 140px
      height: 1px
      margin-left: -70px
      left: 50%
      bottom: 0
      background-color: #bbb9b6
      position: absolute
  .price
    .circle
      border-color: $color-red
      width: 40px
      height: 40px
      margin-right: 15px
      .icon
        top: -2px
  &:hover
    .overlay
      opacity: 1
      .inner
        transform: none
        opacity: 1
/* end items-showcase */

.additional-items
  padding-left: 15px
  padding-right: 15px
  padding: 50px 0
  .section-heading
    max-width: 800px
    margin: 0 auto
    line-height: 1.4
  +rmin($screen-sm)
    padding-left: 0
    padding-right: 0
    margin-left: -1px
    margin-right: -1px
  > p
    color: #191919
    text-align: center
    opacity: .6
    margin-bottom: 40px
  .group
    +rmin($screen-sm)
      display: -webkit-flex
      display: -ms-flex
      display: flex
      flex-wrap: wrap
  &-bottom
    text-align: center
    margin-top: 50px
  &-book
    justify-content: center
    .section-heading
      margin-bottom: 30px
      +rmin($screen-sm)
        margin-bottom: 40px
    .additional-item
      .additional-photo-link
        .circle
          border-color: $color-yellow
          svg path
            fill: $color-yellow
        &:hover
          .circle
            background-color: $color-yellow
            svg path
              fill: white

/* start additional-item */
.additional-item
  border: 1px solid #d9d9d9
  padding-top: 30px
  padding-bottom: 30px
  padding-left: 20px
  padding-right: 20px
  text-align: center
  +rmin($screen-sm)
    width: 50%
    margin-bottom: -1px
    margin-right: -1px
  +rmin($screen-lg)
    padding-left: 50px
    .inner
      max-width: 800px
      width: 100%
    &:nth-child(2n+1)
      padding-right: 30px
      .inner
        float: right
  .circle-cell .circle
    width: 50px
    height: 50px
    height: 50px
    text-align: center
    line-height: 48px
    margin: 0 auto
    border-color: #b6b6b6
    color: rgba(black, .8)
    +rmin($screen-sm)
      width: 100px
      height: 100px
      line-height: 96px
      font-size: 34px
    +rmin($screen-md)
      width: 114px
      height: 114px
      line-height: 110px
  p
    font-size: 16px
    margin-bottom: 5px
    color: #000
    line-height: 1.4
    max-width: 340px
    margin-left: auto
    margin-right: auto
    +georgia()
    +rmin($screen-sm)
      margin-top: 0
      margin-left: 0
      margin-right: 0
    +rmin($screen-lg)
      font-size: 18px
  .content-cell
    a
      opacity: .9
    +rmin($screen-sm)
      padding-left: 30px
      padding-right: 40px
  .price-cell
    margin-top: 30px
    +rmin($screen-sm)
      border-left: 1px solid #cccccc
      padding-left: 30px
      width: 150px
      margin-top: 0
  .circle-cell
    +rmin($screen-sm)
      width: 114px
  .additional-photo-link
    width: 40px
    height: 40px
    text-decoration: none
    color: inherit
    .circle
      border-color: $color-red
      width: 40px
      height: 40px
      margin-right: 14px
    &:hover
      .circle
        background-color: $color-red
      svg path
        fill: white
  &-single
    max-width: 960px
    +rmin($screen-sm)
      width: 100%
      margin-left: auto
      margin-right: auto
  +rmin($screen-sm)
    padding-top: 40px
    padding-bottom: 40px
    text-align: left
/* end additional-item */

.display-table
  +rmin($screen-sm)
    display: table
    width: 100%
    .circle-cell,
    .content-cell,
    .price-cell
      display: table-cell
      vertical-align: middle

/* start seo-block */
.any-questions
  padding: 50px 0
  background-color: #eae8e4
  text-align: center
  .section-heading
    margin-bottom: 0
  p
    opacity: .6
    margin: 0
  .btn
    margin-top: 30px
  &-secondary
    background-color: #fff
    max-width: 1510px
    margin: 0 auto
    border-bottom: 1px solid #dddddd
    padding-top: 80px
    padding-bottom: 80px
    .section-heading
      margin-bottom: 10px
    p
      opacity: 1
      color: #555
    span
      color: #000
/* end seo-block */

/* start seo-block */
.seo-desc
  padding: 40px 0
  h5
    font-size: 17px
    margin-bottom: 0
    +calibri(700)
  .container
    max-width: 1200px
/* end seo-block */

/* start warning */
.warning
  // border: 3px solid #f15c44
  max-width: 1410px
  margin: 0 auto 30px
  padding: 30px 15px 40px
  text-align: center
  position: relative
  overflow: hidden
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    background-color: #f15c44
    height: 3px
    width: 100%
    transform: translateX(-102%)
    +tr(transform 1s 0.2s)
  &:after
    content: ''
    position: absolute
    right: 0
    top: 0
    background-color: #f15c44
    height: 100%
    width: 3px
    transform: translateY(-102%)
    +tr(transform 1s 1.2s)
  +rmin($screen-sm)
    margin-bottom: 50px
  h3
    margin-top: 0
    font-size: 22px
    +rmin($screen-sm)
      font-size: 26px
  .inner
    max-width: 1140px
    margin: 0 auto
    &:before
      content: ''
      position: absolute
      right: 0
      bottom: 0
      background-color: #f15c44
      height: 3px
      width: 100%
      transform: translateX(102%)
      +tr(transform 1s 2.2s)
    &:after
      content: ''
      position: absolute
      left: 0
      bottom: 0
      background-color: #f15c44
      height: 100%
      width: 3px
      transform: translateY(102%)
      +tr(transform 1s 3.2s)
  .btn
    margin-top: 20px
  &.aos-animate
    &:before, &:after,
    .inner:before,
    .inner:after
      transform: none
/* end warning */

/* start other-items */
.other-items
  background-color: #eae8e4
  padding: 40px 0
  .container
    max-width: 1000px
    .row > div:first-child
      +rmin($screen-sm)
        .other-items-block
          &:before
            content: ''
            position: absolute
            right: -15px
            top: 50px
            background-color: #bbbab6
            height: 236px
            width: 1px
  &-block
    text-align: center
    position: relative
    margin: 40px 0
    h4
      font-size: 24px
      margin-bottom: 10px
      padding-bottom: 14px
      position: relative
      &:before
        content: ''
        width: 184px
        height: 2px
        z-index: 10
        margin-left: -92px
        bottom: 0
        left: 50%
        position: absolute
        background: #333333
    p
      margin-bottom: 10px
    .price
      font-size: 20px
      margin-bottom: 20px
    .btn
      width: 185px
    .link
      display: block
      margin-top: 10px
/* end other-items */

/* start popups */
.popup-video
  width: 300px
  height: 200px
  margin: 0 auto
  background-color: #fff
  position: relative
  +rmin(400px)
    width: 380px
  +rmin($screen-sm)
    width: 900px
    height: 500px
  iframe
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
/* end popups */

/* start popup-additional-item */
.popup-additional-item
  max-width: 995px
  padding: 40px 15px
  background-color: #fff
  text-align: center
  margin: 0 auto
  position: relative
  .inner
    max-width: 690px
    margin: 0 auto
  .desc
    color: rgba(black, 0.9)
  .btn
    margin-top: 30px
  .section-heading
    padding-bottom: 20px
    &:after
      content: ''
      width: 400px
      height: 1px
      bottom: 0
      left: 50%
      margin-left: -200px
      background-color: #d9d9d9
      position: absolute
  .img-zoom-link
    position: relative
    margin-bottom: 40px
    display: inline-block
    .circle
      position: absolute
      right: -20px
      bottom: -20px
      background-color: #fff
      border: 1px solid #b9b9b9
      width: 64px
      height: 64px
      svg
        top: -2px
      svg path
        fill: rgba(#1b1b1b, 0.5)
    &:hover
      .circle
        background-color: $color-red
        border-color: $color-red
        svg path
          fill: white
/* end popup-additional-item */

.popup-close
  position: absolute
  top: 20px
  right: 20px
  span
    +burger(17px, 2px, 5px, black, 3px)
    +burger-to-cross()
    opacity: 0.4
    transition-property: all
  &:hover
    span
      opacity: 1

.book-module
  margin-top: 40px
  margin-bottom: 40px

.arr
  position: absolute
  width: 24px
  height: 114px
  position: absolute
  left: 10px
  top: 55px
  background-image: url(../images/arr-left.svg)
  background-repeat: no-repeat
  opacity: .5
  z-index: 10
  display: none
  +tr()
  &:hover
    opacity: 1
  &-right
    right: 10px
    background-image: url(../images/arr-right.svg)
    left: auto
    +rmin($screen-lg)
      right: 14px
  +rmin($screen-lg)
    display: block

/* start book-details */
.book-details
  border-bottom: 1px solid #d9d9d9
  +rmin($screen-sm)
    display: -webkit-flex
    display: -ms-flex
    display: flex
  &-slider
    background-color: #e3e3e3
    text-align: center
    position: relative
    .arr
      display: block
      top: 50%
      margin-top: 0
      transform: translateX(-50%)
      left: 20px
      &-right
        left: auto
        right: 20px
      +rmin($screen-md)
        left: 40px
        &-right
          left: auto
          right: 40px
      +rmin($screen-lg)
        left: 60px
        &-right
          left: auto
          right: 60px
    +rmin($screen-sm)
      width: 50%
    .swiper-slide
      padding: 50px 0 80px
      height: 300px
      position: relative
      +rmin($screen-sm)
        height: auto
        padding-top: 180px
        padding-bottom: 175px
    img
      display: inline-block
      max-width: 80%
      max-height: 100%
      width: auto
      height: auto
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
    .swiper-pagination
      bottom: 40px
      +rmin($screen-sm)
        bottom: 100px
  .inner
    max-width: 700px
    padding-left: 15px
    padding-right: 15px
    padding-top: 40px
    padding-bottom: 40px
    margin: 0 auto
    > .block
      margin: 40px 0
    +rmin($screen-md)
      padding-left: 70px
      margin-left: 0
    +rmin($screen-lg)
      padding-left: 100px
  &-info
    .bottomline
      padding-top: 20px
      border-top: 2px solid #282828
      margin-top: 40px
      max-width: 460px
      margin: 0 auto
      text-align: center
      +rmin($screen-sm)
        text-align: left
        margin-left: 0
    .range
      text-align: left
    .btn
      margin-top: 20px
      +rmin(350px)
        width: 185px
        margin-left: 30px
        margin-top: 9px
        vertical-align: top
    +rmin($screen-sm)
      width: 50%
      margin-left: 0
  .section-heading
    line-height: 1.4
    position: relative
    padding-bottom: 20px
    +rmin($screen-sm)
      text-align: left
    &:after
      content: ''
      position: absolute
      height: 1px
      left: 50%
      bottom: 0
      width: 70%
      transform: translateX(-50%)
      background-color: #000
      opacity: .2
      +rmin($screen-sm)
        left: 0
        transform: none
/* end book-details */

.custom-list
  +counter(list1, "")
  li
    width: 100%
    margin: 10px 0
    position: relative
    padding-left: 40px
    &:before
      position: absolute
      background-color: #fff
      width: 26px
      height: 26px
      border: 1px solid #b0b0b0
      border-radius: 50%
      left: 0
      top: 15px
      margin-top: -16px
      text-align: center
      padding-top: 1px
      font-size: 15px
      color: $color-yellow

/* start layout */
.layout
  padding-top: 30px
  .section-heading
    max-width: 300px
    margin: 0 auto
    +rmin($screen-sm)
      text-align: left
      max-width: none
      margin-bottom: 0
/* end layout */
/* start layout-order */
.layout-order
  padding-bottom: 60px
  +rmin($screen-sm)
    padding-bottom: 80px
/* end layout-order */

/* start order */
.order
  &-steps-list
    text-align: center
    margin-top: 20px
    margin-bottom: 20px
    +clr()
    +rmin($screen-sm)
      margin-bottom: 40px
    &-wrap
      overflow: hidden
    +rmin($screen-lg)
      margin-left: -110px
      margin-right: -140px
    li
      display: inline-block
      width: 49%
      vertical-align: top
      margin: 20px 0
      text-align: center
      +rmin($screen-sm)
        text-align: left
      +rmin($screen-md)
        width: 25%
        float: left
        text-align: center
        margin-bottom: 0
        margin-top: 0
      a
        display: block
        color: #191919
        text-decoration: none
        font-size: 15px
        position: relative
        min-height: 130px
        +tr()
        &:after
          content: ''
          position: absolute
          height: 5px
          left: 0
          bottom: 0
          width: 100%
          border-top: 1px solid #777574
          border-bottom: 1px solid #bdbab9
        +rmin($screen-sm)
          padding-bottom: 30px
          min-height: 0
          margin-right: -3px
        &:hover
          color: $color-red
          .circle
            border-color: $color-red
            color: inherit
        &.active
          font-weight: 700
          .circle
            border: 2px solid $color-red
            line-height: 45px
          &:after
            background-color: #202020
            border-color: #202020
    .circle
      display: block
      margin: 0 auto 6px
      height: 50px
      width: 50px
      line-height: 47px
      +tr()
      +rmin($screen-sm)
        display: inline-block
        margin-right: 10px
  &-preview
    position: relative
    max-width: 450px
    +rmin($screen-md)
      padding-right: 70px
    &-gallery
      margin-bottom: 10px
      +rmin($screen-md)
        position: absolute
        margin-bottom: 0
        right: 0
        top: 0
      &-link
        display: inline-block
        width: 60px
        height: 60px
        background-position: center
        border: 1px solid #b8b8b8
        margin-right: 20px
        +rmin($screen-md)
          margin-right: 0
          margin-bottom: 20px
          display: block
    &-image
      background-position: center
      background-size: 235px
      background-repeat: no-repeat
      display: inline-block
      +rmin($screen-sm)
        background-size: 266px
      img
        display: block
        height: 405px
        +rmin($screen-sm)
          height: 450px
  &-overall
    padding: 30px 0 18px
    border-top: 1px solid #2f2f2f
    border-bottom: 1px solid #2f2f2f
    margin-top: 40px
    width: 100%
    max-width: 450px
    .range
      width: 200px
      line-height: 1.3
      .price
        margin-top: 6px
    .btn-wrap
      padding-top: 18px
      margin-top: 20px
      border-top: 1px solid #e5e5e5
      position: relative
      text-align: center
      +rmin($screen-sm)
        text-align: left
    .btn
      width: 185px
      .icon
        position: relative
        top: -2px
    .link
      margin-top: 10px
      margin-left: 20px
      +rmin($screen-sm)
        position: absolute
        margin-top: 0
        right: 0
        top: 36px

  &-variant
    &-block
      position: relative
      input
        display: none
        &:checked
          + label + div
              background-color: #f3f3f3
              > .circle
                border: 2px solid $color-red
              > .text
                font-weight: 700
      label
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        cursor: pointer
        z-index: 2
    &-content
      border: 1px solid #d9d9d9
      margin-bottom: -1px
      position: relative
      padding: 20px
      text-align: center
      a
        margin-left: 10px
        font-weight: 400
        display: inline-block
        position: relative
        z-index: 6
        font-size: 16px
      > .circle
          width: 68px
          height: 68px
          margin-bottom: 20px
          border-color: #d0d0d0
          background-color: #ffffff
          +tr(none)
          +rmin($screen-sm)
            margin-bottom: 0
            flex-shrink: 0
          img
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
      > .text
        margin-left: 20px
        margin-right: 20px
        +rmin($screen-sm)
          font-size: 15px
        +rmin($screen-md)
          font-size: 17px
      +rmin($screen-sm)
        display: -webkit-flex
        display: -ms-flex
        display: flex
        align-items: center
        height: 89px
        padding-top: 0
        padding-bottom: 0
        text-align: left
      +rmin($screen-md)
        padding-left: 30px
      .price
        margin-top: 20px
        font-size: 20px
        +rmin($screen-sm)
          width: 200px
          margin-left: auto
          margin-top: 0
          padding-left: 30px
          text-align: left
          position: relative
          flex-shrink: 0
          &:before
            content: ''
            height: 64px
            width: 1px
            position: absolute
            left: 0
            top: 50%
            margin-top: -32px
            background-color: #c2c2c2
        +rmin($screen-lg)
          width: 220px
        .circle
          width: 40px
          height: 40px
          border-color: $color-red
          margin-right: 10px
          background-color: #fff
  &-frames
    border: 1px solid #d9d9d9
    padding: 20px
    .inner
      margin-right: -20px
/* end order */

.frame-item
  width: 100px
  text-align: left
  margin: 20px 12px
  display: inline-block
  vertical-align: top
  position: relative
  label
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    cursor: pointer
  .check
    display: none
    &:checked
      + h5
        font-weight: 700
      ~ .frame-item-image
        .circle
          border-color: $color-red
          border-width: 3px
          &:after
            background-color: $color-red
            border-color: $color-red
  h5
    margin: 0
    line-height: 1
    font-size: 17px
    +calibri()
  .text
    font-size: 20px
    margin-bottom: 10px
  &-image
    width: 100px
    height: 100px
    display: block
    background-size: 200% auto
    padding-top: 40px
    padding-left: 40px
    cursor: pointer
    .circle
      width: 36px
      height: 36px
      border: 1px solid #9e9e9e
      position: relative
      +tr()
      &:after
        content: ''
        position: absolute
        left: 50%
        top: 50%
        width: 24px
        height: 24px
        margin-top: -12px
        margin-left: -12px
        border: 1px solid #c2c2c2
        border-radius: 50%
        +tr()

.order-step1-form
  .order-left
    margin-bottom: 40px
    +rmin($screen-sm)
      width: 300px
    +rmin($screen-md)
      width: 500px
    +rmin($screen-lg)
      width: 545px
  .order-right
    +rmin($screen-sm)
      width: 550px
      order: 1
    +rmin($screen-md)
      width: 600px
    +rmin($screen-lg)
      width: 810px
  .order-left, .order-right
    h4
      font-size: 25px
      margin-bottom: 14px
    +rmin($screen-sm)
      > p
        min-height: 200px
  .order-left
    margin-top: 40px
    +rmin($screen-sm)
      margin-top: 0
    > p
      +georgia()
      font-size: 1.6
      color: #191919
  .order-right
    > p
      color: #383838
      line-height: 1.6
  +rmin($screen-sm)
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between
    flex-wrap: wrap

fieldset
  padding: 0
  border: 0

.order-choose-texture
  margin-bottom: 54px

.texture-radio
  margin-right: 18px
  cursor: pointer
  input
    display: none
    &:checked
      + span
        border: 2px solid $color-red
        img
          border-color: gray
  img
    display: block
  span
    display: inline-block
    height: 68px
    width: 68px
    border-color: #d9d9d9
    overflow: hidden
    +tr(none)
    img
      position: absolute
      border: 1px solid transparent
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      border-radius: 50%
      overflow: hidden
      width: 50px
      height: 50px

.order-step2-form
  h2 span
    color: #7d7d7d
    display: block
    +rmin($screen-sm)
      display: inline
  p
    color: #383838
    line-height: 1.7

.panel
  padding: 20px
  font-size: 19px
  margin-top: 40px
  margin-bottom: 0
  +georgia()
  +rmin($screen-sm)
    padding-left: 36px
    padding-right: 36px
    padding-bottom: 24px
    padding-top: 26px
  +rmin($screen-lg)
    margin: 40px 0 0
  &-error
    color: $color-red
    background-color: #fdece9

.flex-container
  h4
    font-size: 25px

.date-selects
  margin-bottom: 40px

.order-edit-message

.js-editor
  position: relative
  height: 400px
  width: 100%
  +rmin($screen-sm)
    height: 780px
  textarea
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
  +rmin($screen-lg)
    margin-left: -36px

.order-choose-text
  .wrap
    +clr()

.choose-text-item
  width: 50%
  text-align: left
  padding: 22px 0 20px 0
  vertical-align: top
  position: relative
  float: left
  border-bottom: 1px solid #cccccc
  +rmin($screen-md)
    padding-left: 42px
  .inner
    padding-left: 53px
    position: relative
  label
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    cursor: pointer
    z-index: 20
  .check
    display: none
    &:checked
      + h5
        font-weight: 700
        color: #000
      ~ .circle
          border-color: $color-red
          border-width: 3px
          &:after
            background-color: $color-red
            border-color: $color-red
  h5
    margin: 0
    line-height: 1
    font-size: 17px
    color: #858585
    +tr()
    +calibri()
  .text
    font-size: 20px
    margin-bottom: 0
  .circle
    width: 36px
    height: 36px
    border: 1px solid #9e9e9e
    position: relative
    position: absolute
    left: 0
    top: 50%
    margin-top: -21px
    +tr()
    &:after
      content: ''
      position: absolute
      left: 50%
      top: 50%
      width: 24px
      height: 24px
      margin-top: -12px
      margin-left: -12px
      border: 1px solid #c2c2c2
      border-radius: 50%
      +tr()

.flex-container
  .order-edit-message
    margin-bottom: 40px
    +rmin($screen-sm)
      width: 300px
    +rmin($screen-md)
      width: 500px
    +rmin($screen-lg)
      width: 850px
  .order-choose-text
    +rmin($screen-sm)
      width: 550px
    +rmin($screen-md)
      width: 600px
    +rmin($screen-lg)
      width: 570px
  +rmin($screen-sm)
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between
    flex-wrap: wrap

.delivery-wrap
  .row
    +rmin($screen-lg)
      margin-left: -50px
      margin-right: -50px
      > div
        padding-left: 50px
        padding-right: 50px
.delivery-period,
.delivery-deadline
  .range
    display: block
    padding: 30px 0
    text-align: left
    &:first-of-type
      padding-top: 10px
    &:last-of-type
      padding-bottom: 0
  h4
    color: #000
    padding-bottom: 20px
    position: relative
    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 1px
      background-color: #cccccc

.delivery-period
  p
    color: #383838
    max-width: 530px
.delivery-deadline
  +r($screen-sm)
    .range-block
      display: block
      .text
        font-size: 20px
        line-height: 1.3
      &:first-child:after
        display: none

.delivery-payment-info
  background-color: #eae8e4
  padding: 40px 0
  margin: 40px 0
  .inner
    padding-left: 100px
    position: relative
    .svg-ic
      position: absolute
      left: 0
      top: 50%
      margin-top: -33px
    h4
      font-size: 21px
      margin-top: 0
      margin-bottom: 0
    p
      margin-bottom: 0
      color: #383838
      +rmin($screen-sm)
        margin-top: 0

.tabs:not(.tabs-no-style)
  border: 1px solid #ececec
  padding-top: 20px
  +clr()
  +rmin($screen-sm)
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-around

.tab-pane
  text-decoration: none
  padding: 20px 20px
  display: block
  position: relative
  border-bottom: 1px solid #383838
  margin-bottom: -1px
  &:after
    content: ''
    position: absolute
    height: 5px
    left: 0
    bottom: 0
    width: 100%
    border-top: 1px solid #777574
    border-bottom: 1px solid #bdbab9
    display: none
  .text
    +georgia()
    border-bottom: 1px dotted $color-blue
    line-height: 1
    margin-bottom: -3px
    display: inline-block
  .price, .subtitle
    color: #000
  .subtitle
    font-size: 16px
  &.js-active
    .text
      border: none
      color: black
      font-weight: 700
    &:after
      background-color: black
      border-color: black
  &:hover
    .text
      border: none
  +rmin($screen-sm)
    flex-grow: 1
    border-bottom: 0
    &:after
      display: block
  +rmin($screen-lg)
    font-size: 20px
    padding-left: 40px
    padding-bottom: 30px

.delivery-slide
  .panel
    margin-top: 0

.margined
  +rmin($screen-lg)
    margin-left: -36px
    margin-right: -36px

.delivery-area-block
  padding: 20px 20px
  border: 1px solid #cfcfcf
  border-top: 0
  +rmin($screen-md)
    padding-left: 40px
    padding-right: 40px
  h4
    font-size: 21px
  p
    color: #383838
    +rmin($screen-lg)
      font-size: 19px
  &.flex
    p
      margin-top: 10px
      margin-bottom: 10px
    +rmin($screen-sm)
      display: -webkit-flex
      display: -ms-flex
      display: flex
      align-items: center
  aside
    +rmin($screen-sm)
      width: 255px
      margin-right: 40px
    .price
      padding-bottom: 40px
      border-bottom: 1px solid #d8d8d8
      span
        font-size: 60px
        line-height: .8
        +georgia()
        vertical-align: top
      .ruble
        font-size: 36px
        margin-left: 14px
    .text
      font-size: 21px
      margin-top: 20px
      +georgia()

/* start testimonials */
.testimonials
  &-page
    padding-bottom: 40px
  &-top
    position: relative
    text-align: center
    border-bottom: 1px solid #7f7f7f
    padding-bottom: 20px
    margin-bottom: 20px
    .btn
      margin-top: 20px
      +rmin($screen-sm)
        position: absolute
        margin-top: 0
        right: 0
        top: 0
    .section-heading
      +rmin($screen-lg)
        font-size: 38px
    +rmin($screen-sm)
      padding-bottom: 30px
    +rmin($screen-lg)
      padding-bottom: 20px
  // GROUP
  &-group
    margin-top: 20px
    margin-bottom: 20px
  // ITEM
  &-item
    border-top: 1px solid #e6e6e6
    padding-top: 30px
    padding-bottom: 30px
    +rmin($screen-sm)
      display: -webkit-flex
      display: -ms-flex
      display: flex
      min-height: 175px
      padding-top: 40px
      padding-bottom: 20px
    aside
      padding-bottom: 20px
      margin-bottom: 30px
      border-bottom: 1px solid #e5e5e5
      +rmin($screen-sm)
        width: 180px
        height: 90px
        border-bottom: 0
        margin-right: 40px
        flex-shrink: 0
        border-right: 1px solid #e5e5e5
        margin-bottom: 0
    .content
      +rmin($screen-sm)
        flex-grow: 1
      h5
        font-size: 15px
        margin-bottom: 0
        opacity: .5
        color: #383838
        margin-top: 0
        +calibri()
      p
        color: rgba(#191919, 0.9)
        line-height: 1.6
    &-name
      font-size: 19px
      margin-bottom: 0
      margin-top: 16px
  &-bottom
    text-align: center
    padding-top: 30px
    padding-bottom: 30px
    border-bottom: 1px solid #e6e6e6
    border-top: 1px solid #afafaf
/* end testimonials */
.years
  text-align: center
  max-width: 200px
  margin: 0 auto
  +rmin($screen-sm)
    max-width: 100%

.year
  width: 50px
  height: 50px
  line-height: 48px
  text-decoration: none
  display: inline-block
  color: inherit
  border-radius: 50%
  border: 1px solid transparent
  font-size: 15px
  margin: 10px 5px
  color: #a0a0a0
  +tr()
  &.active
    color: #191919
    border-color: #f15c44
  &:hover
    color: #fff
    border-color: #f15c44
    background-color: #f15c44
  +rmin($screen-sm)
    margin: 20px 14px
    line-height: 68px
    height: 70px
    width: 70px
    font-size: 19px

.months
  text-align: center
  padding-bottom: 20px
  +clr()

.month
  text-decoration: none
  color: $color-blue
  float: left
  width: 33.3333%
  padding: 10px 0
  font-size: 15px
  border-bottom: 2px solid transparent
  +tr()
  +rmin(340px)
    font-size: 17px
  +rmin($screen-sm)
    float: none
    display: inline-block
    padding-left: 12px
    padding-right: 12px
    width: auto
  +rmin($screen-md)
    padding-left: 20px
    padding-right: 20px
  &.active, &:hover
    color: #1d1d1d
    border-color: #f77b6c

/* start pagination */
.pagination
  text-align: center
  max-width: 200px
  margin: 40px auto 20px
  +rmin($screen-sm)
    max-width: 100%

.pagination a
  width: 50px
  height: 50px
  line-height: 48px
  text-decoration: none
  display: inline-block
  color: inherit
  border-radius: 50%
  border: 1px solid transparent
  font-size: 15px
  margin: 10px 5px
  color: #191919
  +tr()
  &.active
    border-color: #979797
  &:hover
    color: #fff
    border-color: #f15c44
    background-color: #f15c44
  +rmin($screen-sm)
    margin: 20px 14px
    line-height: 68px
    height: 70px
    width: 70px
    font-size: 19px
/* end pagination */

.panel-default
  padding: 0
  border-radius: 0
  margin: 0
  +rmin($screen-sm)
    padding: 0

.panel-heading
  position: relative
  span

.accordion
  border: 1px solid #d2d2d2
  margin-bottom: -1px
  &-content
    display: none
    padding: 20px 20px
    color: #383838
    +rmin($screen-sm)
      padding-left: 130px
    +rmin($screen-md)
      font-size: 19px
  &-top
    padding-top: 30px
    padding-bottom: 30px
    padding-left: 60px
    padding-right: 20px
    display: block
    position: relative
    text-decoration: none
    img
      vertical-align: middle
    +tr()
    +rmin($screen-sm)
      padding-left: 130px
      padding-top: 35px
      padding-bottom: 35px
    .text
      font-size: 19px
      display: inline-block
      +tr()
      +georgia()
      +rmin($screen-sm)
        border-bottom: 1px dotted $color-blue
        font-size: 21px
        line-height: .9
    .circle
      width: 40px
      height: 40px
      line-height: 37px
      left: 10px
      top: 50%
      margin-top: -20px
      position: absolute
      border: 1px solid #b0b0b0
      +rmin($screen-sm)
        width: 60px
        height: 60px
        margin-top: -30px
        line-height: 57px
        left: 42px
    &.js-active
      background-color: #f3f3f3
      .text
        color: #000
        border-color: #000
  &-secondary
    margin: 10px 0
    .circle
      background-color: #fff
    .text
      +rmin($screen-sm)
        display: inline-block
        border: none
        &:after
          content: ''
          width: 50px
          height: 1px
          background-color: #cfcecd
          display: inline-block
          vertical-align: middle
          margin-left: 30px
          margin-right: 20px
    img
      display: none
      +rmin($screen-sm)
        margin-left: 10px
        display: inline-block
        position: relative
        top: -4px
    .accordion-top.js-active
      .text
        color: #f44936
      .circle
        border-color: #f55c49
    .accordion-content
      +rmin($screen-sm)
        padding-left: 40px
        padding-right: 40px


.faq-page
  .section-heading
    +rmin($screen-sm)
      margin-bottom: 20px

.faq-slider
  padding-bottom: 40px

.payments-page
  > .container
    p
      color: #383838
      max-width: 1120px
      margin-bottom: 40px
  .section-heading
    padding-bottom: 20px
    border-bottom: 1px solid #a7a7a7
    +rmin($screen-sm)
      margin-bottom: 34px
