//BEGIN footer
footer.footer
  //BEGIN header (in footer)
  .header.header-static
    .header-top
      .container
        .inner-container
          a.logo(href="#")
            img(src="images/logo.png" alt="Timesprint.ru")
          a.nav-trigger
            span
          .header-address
            address Москва, ул. Золоторожский Вал, 22
            .header-metros.hidden-xs
              .metro.metro-green
                include ../data/metro.svg
                span Римская
              .metro.metro-yellow
                include ../data/metro.svg
                span Площадь Ильича
                a.metro-scheme-link.popup-link(href="#popup-metro") схема
          a.callback-link.popup-link.hidden-xs(href="#popup-callback") 
            .circle
              include ../data/phone.svg
            span Заказать звонок
          .header-right
            .header-phones
              a.phone(href="tel:+74952150965") +7 (495) 215-09-65
              a.phone(href="tel:+74952150965") +7 (812) 313-24-95
            .header-worktime Пн.-Пт.: 10:00 - 19:30
            a.mail-link(href="mailto:info@timesprint.ru")
              include ../data/mail.svg
              span info@timesprint.ru
    .header-bottom
      .container
        .inner-container
          include _main-nav.pug
          .share-block
            .share-text
              include ../data/mail.svg
              span.text Поделиться
            .ya-share2(data-services="vkontakte,odnoklassniki,twitter,facebook")
          a.delivery-link
            .delivery-car
            span Доставка по всей России!
  //END header (in footer)
  // start footer-tags
  .footer-tags 
    .container
      ul.reset-list.footer-tags-list
        li: a(href="#") Подарок маме на юбилей 
        li: a(href="#") Подарок папе на юбилей 
        li: a(href="#") ВИП подарок
        li: a(href="#") Подарок на 50-летний юбилей
        li: a(href="#") Необычный подарок
        li: a(href="#") Дедушке
        li: a(href="#") Коллеге
        li: a(href="#") На жемчужную свадьбу
        li: a(href="#") На серебряную свадьбу
        li: a(href="#") На золотую свадьбу
        li: a(href="#") Подарок 9 мая
  // end footer-tags
  .socials
    p Поделись идеей подарка в соцсетях
    a.social-link(href="#")
      include ../data/facebook.svg
    a.social-link(href="#")
      include ../data/twitter.svg
    a.social-link.vk(href="#")
      include ../data/vk.svg
    a.social-link(href="#")
      include ../data/instagram.svg
    a.social-link(href="#")
      include ../data/odnoklassniki.svg
  .footer-bottomline
    .container
      .copyright © TimesPrint.ru 2011-2017
      address.address-first Москва, ул. Золоторожский Вал, 22, тел.: +7 (495) 215-09-65,
      address.address-second Санкт-Петербург, ул. Садовая 38, оф. 304, тел: +7 (812) 313-24-95, пн-пт 10:00-19:30
//END footer
