// start popups
.popup.popup-video.mfp-hide.mfp-with-anim#popup-video
  iframe(src="https://www.youtube.com/embed/54HGwImd5yQ" frameborder="0" allowfullscreen)
.popup-additional-item.mfp-hide.mfp-with-anim#popup-additional-item1
  .inner
    a.popup-close(href="javascript:$.magnificPopup.close()" role="button")
      span
    a.img-zoom-link(href="images/paper-original.jpg")
      img(src="images/paper-original.jpg" alt="Все страницы газеты в распечатанном виде в оригинальном формате - А2")
      .circle
        include ../data/magnifier.svg
    h2.section-heading Все страницы газеты в распечатанном #[br] виде в оригинальном формате - А2
    .desc Данный вариант печатается на оригинальном газетном формате А2 с разворотом. В данном варианте исполнения подарка все листы газеты входят в комплект по умолчанию. Газета печатается на дизайнерской желтоватой бумаге под старину. В комплект входит подарочная коробка. Вдобавок к полноформатной распечатке газеты, отдельно печатается передовица на глянцевом листе с эффектами старины, который затем можно вставить в рамку
    a.btn.btn-icon(href="#")
      span.text Сделать заказ
      .circle
        .icon.icon-cart
// end popups
