//LOAD SCRIPTS
block scripts
  script(src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
  script(src="https://yastatic.net/share2/share.js")
  // build:js scripts/libs/jquery.min.js
  script(type="text/javascript" src="scripts/libs/jquery.min.js")
  // endbuild
  // build:js scripts/libs/libs.js
  script(type="text/javascript" src="scripts/libs/aos.js")
  // script(type="text/javascript" src="scripts/libs/jquery.waypoints.js")
  script(type="text/javascript" src="scripts/libs/parallax.min.js")
  script(type="text/javascript" src="scripts/libs/imagesloaded.js")
  script(type="text/javascript" src="scripts/libs/swiper.jquery.min.js")
  script(type="text/javascript" src="scripts/libs/jquery.magnific-popup.min.js")
  // endbuild
  // build:js scripts/main.js
  script(type="text/javascript" src="scripts/main.js")
  // endbuild
