// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arr-down-red-name: 'arr-down-red'
$arr-down-red-x: 42px
$arr-down-red-y: 24px
$arr-down-red-offset-x: -42px
$arr-down-red-offset-y: -24px
$arr-down-red-width: 15px
$arr-down-red-height: 7px
$arr-down-red-total-width: 69px
$arr-down-red-total-height: 67px
$arr-down-red-image: '../images/sprites/sprites.png'
$arr-down-red: (42px, 24px, -42px, -24px, 15px, 7px, 69px, 67px, '../images/sprites/sprites.png', 'arr-down-red', )
$arr-down-name: 'arr-down'
$arr-down-x: 17px
$arr-down-y: 37px
$arr-down-offset-x: -17px
$arr-down-offset-y: -37px
$arr-down-width: 12px
$arr-down-height: 6px
$arr-down-total-width: 69px
$arr-down-total-height: 67px
$arr-down-image: '../images/sprites/sprites.png'
$arr-down: (17px, 37px, -17px, -37px, 12px, 6px, 69px, 67px, '../images/sprites/sprites.png', 'arr-down', )
$arr-right-long-name: 'arr-right-long'
$arr-right-long-x: 0px
$arr-right-long-y: 25px
$arr-right-long-offset-x: 0px
$arr-right-long-offset-y: -25px
$arr-right-long-width: 33px
$arr-right-long-height: 7px
$arr-right-long-total-width: 69px
$arr-right-long-total-height: 67px
$arr-right-long-image: '../images/sprites/sprites.png'
$arr-right-long: (0px, 25px, 0px, -25px, 33px, 7px, 69px, 67px, '../images/sprites/sprites.png', 'arr-right-long', )
$arr-thin-orange-right-name: 'arr-thin-orange-right'
$arr-thin-orange-right-x: 42px
$arr-thin-orange-right-y: 0px
$arr-thin-orange-right-offset-x: -42px
$arr-thin-orange-right-offset-y: 0px
$arr-thin-orange-right-width: 27px
$arr-thin-orange-right-height: 7px
$arr-thin-orange-right-total-width: 69px
$arr-thin-orange-right-total-height: 67px
$arr-thin-orange-right-image: '../images/sprites/sprites.png'
$arr-thin-orange-right: (42px, 0px, -42px, 0px, 27px, 7px, 69px, 67px, '../images/sprites/sprites.png', 'arr-thin-orange-right', )
$arr-thin-right-name: 'arr-thin-right'
$arr-thin-right-x: 42px
$arr-thin-right-y: 12px
$arr-thin-right-offset-x: -42px
$arr-thin-right-offset-y: -12px
$arr-thin-right-width: 27px
$arr-thin-right-height: 7px
$arr-thin-right-total-width: 69px
$arr-thin-right-total-height: 67px
$arr-thin-right-image: '../images/sprites/sprites.png'
$arr-thin-right: (42px, 12px, -42px, -12px, 27px, 7px, 69px, 67px, '../images/sprites/sprites.png', 'arr-thin-right', )
$calendar-name: 'calendar'
$calendar-x: 0px
$calendar-y: 37px
$calendar-offset-x: 0px
$calendar-offset-y: -37px
$calendar-width: 12px
$calendar-height: 12px
$calendar-total-width: 69px
$calendar-total-height: 67px
$calendar-image: '../images/sprites/sprites.png'
$calendar: (0px, 37px, 0px, -37px, 12px, 12px, 69px, 67px, '../images/sprites/sprites.png', 'calendar', )
$cart-red-name: 'cart-red'
$cart-red-x: 0px
$cart-red-y: 0px
$cart-red-offset-x: 0px
$cart-red-offset-y: 0px
$cart-red-width: 16px
$cart-red-height: 20px
$cart-red-total-width: 69px
$cart-red-total-height: 67px
$cart-red-image: '../images/sprites/sprites.png'
$cart-red: (0px, 0px, 0px, 0px, 16px, 20px, 69px, 67px, '../images/sprites/sprites.png', 'cart-red', )
$cart-name: 'cart'
$cart-x: 21px
$cart-y: 0px
$cart-offset-x: -21px
$cart-offset-y: 0px
$cart-width: 16px
$cart-height: 20px
$cart-total-width: 69px
$cart-total-height: 67px
$cart-image: '../images/sprites/sprites.png'
$cart: (21px, 0px, -21px, 0px, 16px, 20px, 69px, 67px, '../images/sprites/sprites.png', 'cart', )
$ruble-red-name: 'ruble-red'
$ruble-red-x: 0px
$ruble-red-y: 54px
$ruble-red-offset-x: 0px
$ruble-red-offset-y: -54px
$ruble-red-width: 8px
$ruble-red-height: 13px
$ruble-red-total-width: 69px
$ruble-red-total-height: 67px
$ruble-red-image: '../images/sprites/sprites.png'
$ruble-red: (0px, 54px, 0px, -54px, 8px, 13px, 69px, 67px, '../images/sprites/sprites.png', 'ruble-red', )
$spritesheet-width: 69px
$spritesheet-height: 67px
$spritesheet-image: '../images/sprites/sprites.png'
$spritesheet-sprites: ($arr-down-red, $arr-down, $arr-right-long, $arr-thin-orange-right, $arr-thin-right, $calendar, $cart-red, $cart, $ruble-red, )
$spritesheet: (69px, 67px, '../images/sprites/sprites.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
