//- title: Index Page
extends layouts/_layout
block head
  - var title = 'Доставка'
block content
  .layout.layout-delivery.delivery-page
    .container
      h2.section-heading Доставка и Самовывоз #[span.colored-gray (Москва, Санкт-Петербург, Россия)]
      .delivery-wrap
        .row
          .col-xs-12.col-sm-6.col-md-4.col-lg-6
            .delivery-period
              h4 Период доставки
              .range.range-lined
                .range-block
                  span.word с
                  .text Пн
                .range-block
                  span.word до
                  .text Сб
              .range
                .range-block
                  span.word с
                  .text 10:00
                .range-block
                  span.word до
                  .text 20:00
              p Более позднее время доставки обговаривается отдельно). Обратите пожалуйста внимание, что курьер доставляет до первого пропускного пункта и время ожидания составляет 15 минут. Доставка в воскресенье возможна в исключительных случаях и только в Москве.
          .col-xs-12.col-sm-6.col-md-8.col-lg-6
            .delivery-deadline
              h4 Сроки изготовления
              .range
                .range-block
                  .text Подарочная газета «Правда»
                .range-block
                  .text 2 раб. дня
                .range-caption Срочное изготовление в день заказа, при оформлении до 16:00 ч., за 300 Р
              .range
                .range-block
                  .text Подарочная Книга
                .range-block
                  .text 3-4 раб. дня
                .range-caption Срочное изготовление 1-2 рабочих дня за 1000 Р
              .range
                .range-block
                  .text Дерево пожеланий
                .range-block
                  .text 1 раб. день
    .delivery-payment-info(data-aos="fade-right")
      .container
        .inner
          .svg-ic(data-aos="fade-right" data-aos-anchor=".delivery-payment-info" data-aos-delay="400")
            include data/koshel.svg
          h4 Оплата производится наличными курьеру. 
          p Кроме оплаты наличными, мы предоставляем и другие, не менее удобные способы оплатить ваш подарок.
    .delivery-page-bottom
      .container
        // start tabs
        .tabs(data-slider=".delivery-slider")
          a.tab-pane.js-active(href="#" role="button")
            .text Доставка по Москве
            .price 350 Р
          a.tab-pane(href="#" role="button")
            .text Доставка по Санкт-Петербургу
            .price 350 Р
          a.tab-pane(href="#" role="button")
            .text Доставка по России
            .price от 890 Р
          a.tab-pane(href="#" role="button")
            .text Доставка по Республика Беларусь
            .price от 890 Р
        // end tabs
        .delivery-slider.swiper-container
          .swiper-wrapper
            // start swiper-slide
            .swiper-slide.delivery-slide
              .panel.panel-error Доставка в Москве осуществляется на следующий день после изготовления!
              .delivery-area-block.flex
                aside
                  .price
                    span 350
                    i.ruble e
                  .text Стоимость доставки #[br] в пределах МКАД
                .content
                  p 5 км от МКАД — 400 Р 
                  p 10 км — 450 Р
                  p >10 км — 450 Р +15 Р за каждый доп. км.
                  p Доставка далее 25 км от МКАД обсуждается отдельно и займет более 2 дней
                  p В #[span.colored-red субботу и праздничные дни] стоимость доставки дороже на 50 рублей
              .delivery-area-block.delivery-area-block-info
                h4 Самовывоз в Москве по будним дням — #[span.colored-red бесплатный]
                p Можно осуществить из нашего офиса по адресу: Москва, , ул. Золоторожский Вал, д.22, подъезд 3, этаж 2 (м. Площадь Ильича или м. Римская) Карту и график работы можно посмотреть #[a(href="#") на странице Контакты]
              .delivery-area-block.delivery-area-block-info
                h4 Самовывоз в Москве по субботам — #[span.colored-red бесплатный]
                p Можно осуществить из пункта выдачи курьерской компании "Нова", по адресу: Москва, Огородный проезд, д.20, стр.38 (м. Фонвизинская или м. Тимирязевская). Посмотреть #[a(href="#") адрес на карте]. График работы самовывоза в субботу: с 11 до 18. Обратите внимание, что Вам необходимо сообщить нам заранее (не позднее пятницы 18.00), что вы хотите забрать заказ в субботу.
            // end swiper-slide
            // start swiper-slide
            .swiper-slide.delivery-slide
              .panel.panel-error Доставка в Москве осуществляется на следующий день после изготовления!
              .delivery-area-block.flex
                aside
                  .price
                    span 350
                    i.ruble e
                  .text Стоимость доставки #[br] в пределах МКАД
                .content
                  p 5 км от МКАД — 400 Р 
                  p 10 км — 450 Р
                  p >10 км — 450 Р +15 Р за каждый доп. км.
                  p Доставка далее 25 км от МКАД обсуждается отдельно и займет более 2 дней
                  p В #[span.colored-red субботу и праздничные дни] стоимость доставки дороже на 50 рублей
              .delivery-area-block.delivery-area-block-info
                h4 Самовывоз в Москве по будним дням — #[span.colored-red бесплатный]
                p Можно осуществить из нашего офиса по адресу: Москва, , ул. Золоторожский Вал, д.22, подъезд 3, этаж 2 (м. Площадь Ильича или м. Римская) Карту и график работы можно посмотреть #[a(href="#") на странице Контакты]
              .delivery-area-block.delivery-area-block-info
                h4 Самовывоз в Москве по субботам — #[span.colored-red бесплатный]
                p Можно осуществить из пункта выдачи курьерской компании "Нова", по адресу: Москва, Огородный проезд, д.20, стр.38 (м. Фонвизинская или м. Тимирязевская). Посмотреть #[a(href="#") адрес на карте]. График работы самовывоза в субботу: с 11 до 18. Обратите внимание, что Вам необходимо сообщить нам заранее (не позднее пятницы 18.00), что вы хотите забрать заказ в субботу.
            // end swiper-slide
            // start swiper-slide
            .swiper-slide.delivery-slide
              .panel.panel-error Доставка в Москве осуществляется на следующий день после изготовления!
              .delivery-area-block.flex
                aside
                  .price
                    span 350
                    i.ruble e
                  .text Стоимость доставки #[br] в пределах МКАД
                .content
                  p 5 км от МКАД — 400 Р 
                  p 10 км — 450 Р
                  p >10 км — 450 Р +15 Р за каждый доп. км.
                  p Доставка далее 25 км от МКАД обсуждается отдельно и займет более 2 дней
                  p В #[span.colored-red субботу и праздничные дни] стоимость доставки дороже на 50 рублей
              .delivery-area-block.delivery-area-block-info
                h4 Самовывоз в Москве по будним дням — #[span.colored-red бесплатный]
                p Можно осуществить из нашего офиса по адресу: Москва, , ул. Золоторожский Вал, д.22, подъезд 3, этаж 2 (м. Площадь Ильича или м. Римская) Карту и график работы можно посмотреть #[a(href="#") на странице Контакты]
              .delivery-area-block.delivery-area-block-info
                h4 Самовывоз в Москве по субботам — #[span.colored-red бесплатный]
                p Можно осуществить из пункта выдачи курьерской компании "Нова", по адресу: Москва, Огородный проезд, д.20, стр.38 (м. Фонвизинская или м. Тимирязевская). Посмотреть #[a(href="#") адрес на карте]. График работы самовывоза в субботу: с 11 до 18. Обратите внимание, что Вам необходимо сообщить нам заранее (не позднее пятницы 18.00), что вы хотите забрать заказ в субботу.
            // end swiper-slide
            // start swiper-slide
            .swiper-slide.delivery-slide
              .panel.panel-error Доставка в Москве осуществляется на следующий день после изготовления!
              .delivery-area-block.flex
                aside
                  .price
                    span 350
                    i.ruble e
                  .text Стоимость доставки #[br] в пределах МКАД
                .content
                  p 5 км от МКАД — 400 Р 
                  p 10 км — 450 Р
                  p >10 км — 450 Р +15 Р за каждый доп. км.
                  p Доставка далее 25 км от МКАД обсуждается отдельно и займет более 2 дней
                  p В #[span.colored-red субботу и праздничные дни] стоимость доставки дороже на 50 рублей
              .delivery-area-block.delivery-area-block-info
                h4 Самовывоз в Москве по будним дням — #[span.colored-red бесплатный]
                p Можно осуществить из нашего офиса по адресу: Москва, , ул. Золоторожский Вал, д.22, подъезд 3, этаж 2 (м. Площадь Ильича или м. Римская) Карту и график работы можно посмотреть #[a(href="#") на странице Контакты]
              .delivery-area-block.delivery-area-block-info
                h4 Самовывоз в Москве по субботам — #[span.colored-red бесплатный]
                p Можно осуществить из пункта выдачи курьерской компании "Нова", по адресу: Москва, Огородный проезд, д.20, стр.38 (м. Фонвизинская или м. Тимирязевская). Посмотреть #[a(href="#") адрес на карте]. График работы самовывоза в субботу: с 11 до 18. Обратите внимание, что Вам необходимо сообщить нам заранее (не позднее пятницы 18.00), что вы хотите забрать заказ в субботу.
            // end swiper-slide
            
          
