//- title: Index Page
extends layouts/_layout
block head
  - var title = 'FAQ'
block content
  .layout.layout-faq.faq-page
    .container
      h1.section-heading Ответы на частые вопросы
      // start tabs
      .tabs(data-slider=".faq-slider")
        a.tab-pane.js-active(href="#" role="button")
          .subtitle Вопросы по:
          .text Доставка по Москве
      // end tabs
      .faq-slider.swiper-container
        .swiper-wrapper
          // start swiper-slide
          .swiper-slide.faq-slide
            ul.reset-list.faq-list
              // start list-item
              li
                .accordion
                  a.accordion-top.js-accordion-trigger(href="#" role="button")
                    spam.circle 1
                    .text Что такое Газета в подарок?
                  .accordion-content
                    p Газета придется по вкусу всем без исключения: это редкий и трогательный подарок на день рождения или юбилей свадьбы.  Согласитесь, каждому интересно узнать побольше о дне, когда он появился на свет или скрепил свою жиснь узами брака. А еще очень интересно, что поздравительная статья среди других важных событий. Газета отлично подойдет тем, кто ищет подароки на юбилей 50, 60, 70 или даже 100! лет – настоящий раритет.
                    p Газета также является отличным подарком и любые другие памятные даты.
                    p Газета на юбилей безусловно является эксклюзивным бизнес подарком начальнику, партнеру или просто коллеге, а красивая рамка точно придется ему по душе и украсит его офис.
              // end list-item
              // start list-item
              li
                .accordion
                  a.accordion-top.js-accordion-trigger(href="#" role="button")
                    spam.circle 2
                    .text А газета настоящая? За какие даты доступны газеты?
                  .accordion-content
                    p Газета придется по вкусу всем без исключения: это редкий и трогательный подарок на день рождения или юбилей свадьбы.  Согласитесь, каждому интересно узнать побольше о дне, когда он появился на свет или скрепил свою жиснь узами брака. А еще очень интересно, что поздравительная статья среди других важных событий. Газета отлично подойдет тем, кто ищет подароки на юбилей 50, 60, 70 или даже 100! лет – настоящий раритет.
                    p Газета также является отличным подарком и любые другие памятные даты.
                    p Газета на юбилей безусловно является эксклюзивным бизнес подарком начальнику, партнеру или просто коллеге, а красивая рамка точно придется ему по душе и украсит его офис.
              // end list-item
              // start list-item
              li
                .accordion
                  a.accordion-top.js-accordion-trigger(href="#" role="button")
                    spam.circle 3
                    .text Кому дарить?
                  .accordion-content
                    p Газета придется по вкусу всем без исключения: это редкий и трогательный подарок на день рождения или юбилей свадьбы.  Согласитесь, каждому интересно узнать побольше о дне, когда он появился на свет или скрепил свою жиснь узами брака. А еще очень интересно, что поздравительная статья среди других важных событий. Газета отлично подойдет тем, кто ищет подароки на юбилей 50, 60, 70 или даже 100! лет – настоящий раритет.
                    p Газета также является отличным подарком и любые другие памятные даты.
                    p Газета на юбилей безусловно является эксклюзивным бизнес подарком начальнику, партнеру или просто коллеге, а красивая рамка точно придется ему по душе и украсит его офис.
              // end list-item
              // start list-item
              li
                .accordion
                  a.accordion-top.js-accordion-trigger(href="#" role="button")
                    spam.circle 4
                    .text Как заказать?
                  .accordion-content
                    p Газета придется по вкусу всем без исключения: это редкий и трогательный подарок на день рождения или юбилей свадьбы.  Согласитесь, каждому интересно узнать побольше о дне, когда он появился на свет или скрепил свою жиснь узами брака. А еще очень интересно, что поздравительная статья среди других важных событий. Газета отлично подойдет тем, кто ищет подароки на юбилей 50, 60, 70 или даже 100! лет – настоящий раритет.
                    p Газета также является отличным подарком и любые другие памятные даты.
                    p Газета на юбилей безусловно является эксклюзивным бизнес подарком начальнику, партнеру или просто коллеге, а красивая рамка точно придется ему по душе и украсит его офис.
              // end list-item
              // start list-item
              li
                .accordion
                  a.accordion-top.js-accordion-trigger(href="#" role="button")
                    spam.circle 5
                    .text Сколько стоит?
                  .accordion-content
                    p Газета придется по вкусу всем без исключения: это редкий и трогательный подарок на день рождения или юбилей свадьбы.  Согласитесь, каждому интересно узнать побольше о дне, когда он появился на свет или скрепил свою жиснь узами брака. А еще очень интересно, что поздравительная статья среди других важных событий. Газета отлично подойдет тем, кто ищет подароки на юбилей 50, 60, 70 или даже 100! лет – настоящий раритет.
                    p Газета также является отличным подарком и любые другие памятные даты.
                    p Газета на юбилей безусловно является эксклюзивным бизнес подарком начальнику, партнеру или просто коллеге, а красивая рамка точно придется ему по душе и украсит его офис.
              // end list-item
              // start list-item
              li
                .accordion
                  a.accordion-top.js-accordion-trigger(href="#" role="button")
                    spam.circle 6
                    .text Как упакован подарок и что входит в комплект?
                  .accordion-content
                    p Газета придется по вкусу всем без исключения: это редкий и трогательный подарок на день рождения или юбилей свадьбы.  Согласитесь, каждому интересно узнать побольше о дне, когда он появился на свет или скрепил свою жиснь узами брака. А еще очень интересно, что поздравительная статья среди других важных событий. Газета отлично подойдет тем, кто ищет подароки на юбилей 50, 60, 70 или даже 100! лет – настоящий раритет.
                    p Газета также является отличным подарком и любые другие памятные даты.
                    p Газета на юбилей безусловно является эксклюзивным бизнес подарком начальнику, партнеру или просто коллеге, а красивая рамка точно придется ему по душе и украсит его офис.
              // end list-item
              // start list-item
              li
                .accordion
                  a.accordion-top.js-accordion-trigger(href="#" role="button")
                    spam.circle 7
                    .text Какой размер газеты и самой рамки?
                  .accordion-content
                    p Газета придется по вкусу всем без исключения: это редкий и трогательный подарок на день рождения или юбилей свадьбы.  Согласитесь, каждому интересно узнать побольше о дне, когда он появился на свет или скрепил свою жиснь узами брака. А еще очень интересно, что поздравительная статья среди других важных событий. Газета отлично подойдет тем, кто ищет подароки на юбилей 50, 60, 70 или даже 100! лет – настоящий раритет.
                    p Газета также является отличным подарком и любые другие памятные даты.
                    p Газета на юбилей безусловно является эксклюзивным бизнес подарком начальнику, партнеру или просто коллеге, а красивая рамка точно придется ему по душе и украсит его офис.
              // end list-item
              // start list-item
              li
                .accordion
                  a.accordion-top.js-accordion-trigger(href="#" role="button")
                    spam.circle 8
                    .text Как осуществляется доставка и оплата?
                  .accordion-content
                    p Газета придется по вкусу всем без исключения: это редкий и трогательный подарок на день рождения или юбилей свадьбы.  Согласитесь, каждому интересно узнать побольше о дне, когда он появился на свет или скрепил свою жиснь узами брака. А еще очень интересно, что поздравительная статья среди других важных событий. Газета отлично подойдет тем, кто ищет подароки на юбилей 50, 60, 70 или даже 100! лет – настоящий раритет.
                    p Газета также является отличным подарком и любые другие памятные даты.
                    p Газета на юбилей безусловно является эксклюзивным бизнес подарком начальнику, партнеру или просто коллеге, а красивая рамка точно придется ему по душе и украсит его офис.
              // end list-item
          // end swiper-slide
  // start reviews
  section.reviews 
    .container
      .reviews-top(data-aos="fade-up" data-aos-anchor=".reviews" data-aos-delay="0")
        h2.section-heading О нас уже более 3600 отзывов!
        a.leave-review-link(href="#")
          .circle
            include data/pero.svg
          span.text Оставить отзыв
    .reviews-slider.swiper-container
      a.arr.arr-left(href="#" role="button")
      a.arr.arr-right(href="#" role="button")
      .swiper-wrapper
        .swiper-slide
          .reviews-item(data-aos="fade-left" data-aos-anchor=".reviews" data-aos-delay="400")
            .date
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
        .swiper-slide(data-aos="fade-left" data-aos-anchor=".reviews" data-aos-delay="800")
          .reviews-item
            .date
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
        .swiper-slide(data-aos="fade-left" data-aos-anchor=".reviews" data-aos-delay="1200")
          .reviews-item
            .date
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
        .swiper-slide
          .reviews-item
            .date
              span.icon-calendar
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
        .swiper-slide
          .reviews-item
            .date
              span.icon-calendar
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
        .swiper-slide
          .reviews-item
            .date
              span.icon-calendar
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
      a.all-reviews-link(href="") 
        span Все отзывы
      .swiper-pagination
  // end reviews
  // start other-items
  .other-items
    .container
      h2.section-heading Наши другие оригинальные подарки
      .row
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          .other-items-block
            .img
              img(src="images/pravda-book.png" alt="Книга «Правда»")
            h4 Книга «Правда»
            p Эксклюзивный подарок начальнику, коллеге, #[br] родным на день рождения и юбилей
            .price от 6 990 Р
            a.btn.btn-icon(href="")
              span.text Заказать
              .circle
                i.icon.icon-cart
            a(href="#").link Подробнее
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          .other-items-block
            .img
              img(src="images/showcase-item1.png" alt="Газета «Правда»")
            h4 Газета «Правда»
            p Эксклюзивный подарок начальнику,  коллеге, #[br] родным на день рождения и юбилей
            .price от 1 390 Р
            a.btn.btn-icon(href="")
              span.text Заказать
              .circle
                i.icon.icon-cart
            a(href="#").link Подробнее
  // end other-items
