//- title: Index Page
extends layouts/_layout
block head
  - var title = 'Методы оплаты'
block content
  .layout.layout-payments.payments-page
    .container
      h1.section-heading Методы оплаты
      h3 Наш подарок вы можете оплатить различными способами, вот основные из них:
      p Пожалуйста, сообщите нам на электронную почту info@timesprint.ru, каким способом и когда вы оплатили или позвоните к нам в офис, чтобы мы могли отследить ваш платёж и выслать подарок максимально оперативно
      ul.reset-list.payments-list
        // start list-item
        li
          .accordion.accordion-secondary
            a.accordion-top.js-accordion-trigger(href="#" role="button")
              spam.circle 1
              .text Наличными в офисе или курьеру
              img(src="images/payment1.png" alt="Кошелек")
            .accordion-content
              p Если вы будете забирать заказ у нас в офисе в Москве, то вы можете оплатить заказ наличными или картой. Получение заказа в пункте самовывоза в Санкт-Петербурге возможно только при оплате наличными. Если вы заказали доставку, то вы можете произвести оплату курьеру. Данный вариант доступен для Москвы, Московской области, Санкт-Петербурга и Ленинградской области, а также для большинства городов-региональных центров РФ
        // end list-item
        // start list-item
        li
          .accordion.accordion-secondary
            a.accordion-top.js-accordion-trigger(href="#" role="button")
              spam.circle 2
              .text Банковской картой Visa или MasterCard у нас в офисе
              img(src="images/payment2.png" alt="Карта")
            .accordion-content
              p Если вы будете забирать заказ у нас в офисе в Москве, то вы можете оплатить заказ наличными или картой. Получение заказа в пункте самовывоза в Санкт-Петербурге возможно только при оплате наличными. Если вы заказали доставку, то вы можете произвести оплату курьеру. Данный вариант доступен для Москвы, Московской области, Санкт-Петербурга и Ленинградской области, а также для большинства городов-региональных центров РФ
        // end list-item
        // start list-item
        li
          .accordion.accordion-secondary
            a.accordion-top.js-accordion-trigger(href="#" role="button")
              spam.circle 3
              .text Перевести оплату на наш расчётный счёт
              img(src="images/payment3.png" alt="Банк")
            .accordion-content
              p Если вы будете забирать заказ у нас в офисе в Москве, то вы можете оплатить заказ наличными или картой. Получение заказа в пункте самовывоза в Санкт-Петербурге возможно только при оплате наличными. Если вы заказали доставку, то вы можете произвести оплату курьеру. Данный вариант доступен для Москвы, Московской области, Санкт-Петербурга и Ленинградской области, а также для большинства городов-региональных центров РФ
        // end list-item
        // start list-item
        li
          .accordion.accordion-secondary
            a.accordion-top.js-accordion-trigger(href="#" role="button")
              spam.circle 4
              .text Наш Qiwi-кошелек – 985 922 92 93
              img(src="images/payment4.png" alt="QIWI кошелек")
            .accordion-content
              p Если вы будете забирать заказ у нас в офисе в Москве, то вы можете оплатить заказ наличными или картой. Получение заказа в пункте самовывоза в Санкт-Петербурге возможно только при оплате наличными. Если вы заказали доставку, то вы можете произвести оплату курьеру. Данный вариант доступен для Москвы, Московской области, Санкт-Петербурга и Ленинградской области, а также для большинства городов-региональных центров РФ
        // end list-item
        // start list-item
        li
          .accordion.accordion-secondary
            a.accordion-top.js-accordion-trigger(href="#" role="button")
              spam.circle 5
              .text Наш Yandex-кошелёк: 410011461802284
              img(src="images/payment5.png" alt="Яндекс деньги" style="top: -10px")
            .accordion-content
              p Если вы будете забирать заказ у нас в офисе в Москве, то вы можете оплатить заказ наличными или картой. Получение заказа в пункте самовывоза в Санкт-Петербурге возможно только при оплате наличными. Если вы заказали доставку, то вы можете произвести оплату курьеру. Данный вариант доступен для Москвы, Московской области, Санкт-Петербурга и Ленинградской области, а также для большинства городов-региональных центров РФ
        // end list-item
        // start list-item
        li
          .accordion.accordion-secondary
            a.accordion-top.js-accordion-trigger(href="#" role="button")
              spam.circle 6
              .text Наш счет в PayPal
              img(src="images/payment6.png" alt="PayPal")
            .accordion-content
              p Если вы будете забирать заказ у нас в офисе в Москве, то вы можете оплатить заказ наличными или картой. Получение заказа в пункте самовывоза в Санкт-Петербурге возможно только при оплате наличными. Если вы заказали доставку, то вы можете произвести оплату курьеру. Данный вариант доступен для Москвы, Московской области, Санкт-Петербурга и Ленинградской области, а также для большинства городов-региональных центров РФ
        // end list-item
        // start list-item
        li
          .accordion.accordion-secondary
            a.accordion-top.js-accordion-trigger(href="#" role="button")
              spam.circle 7
              .text Банковской картой онлайн
              img(src="images/payment7.png" alt="Оплата банковской картой")
            .accordion-content
              p Если вы будете забирать заказ у нас в офисе в Москве, то вы можете оплатить заказ наличными или картой. Получение заказа в пункте самовывоза в Санкт-Петербурге возможно только при оплате наличными. Если вы заказали доставку, то вы можете произвести оплату курьеру. Данный вариант доступен для Москвы, Московской области, Санкт-Петербурга и Ленинградской области, а также для большинства городов-региональных центров РФ
        // end list-item
    // end swiper-slide
  // start reviews
  section.reviews 
    .container
      .reviews-top(data-aos="fade-up" data-aos-anchor=".reviews" data-aos-delay="0")
        h2.section-heading О нас уже более 3600 отзывов!
        a.leave-review-link(href="#")
          .circle
            include data/pero.svg
          span.text Оставить отзыв
    .reviews-slider.swiper-container
      a.arr.arr-left(href="#" role="button")
      a.arr.arr-right(href="#" role="button")
      .swiper-wrapper
        .swiper-slide
          .reviews-item(data-aos="fade-left" data-aos-anchor=".reviews" data-aos-delay="400")
            .date
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
        .swiper-slide(data-aos="fade-left" data-aos-anchor=".reviews" data-aos-delay="800")
          .reviews-item
            .date
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
        .swiper-slide(data-aos="fade-left" data-aos-anchor=".reviews" data-aos-delay="1200")
          .reviews-item
            .date
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
        .swiper-slide
          .reviews-item
            .date
              span.icon-calendar
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
        .swiper-slide
          .reviews-item
            .date
              span.icon-calendar
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
        .swiper-slide
          .reviews-item
            .date
              span.icon-calendar
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
      a.all-reviews-link(href="") 
        span Все отзывы
      .swiper-pagination
  // end reviews
  // start other-items
  .other-items
    .container
      h2.section-heading Наши другие оригинальные подарки
      .row
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          .other-items-block
            .img
              img(src="images/pravda-book.png" alt="Книга «Правда»")
            h4 Книга «Правда»
            p Эксклюзивный подарок начальнику, коллеге, #[br] родным на день рождения и юбилей
            .price от 6 990 Р
            a.btn.btn-icon(href="")
              span.text Заказать
              .circle
                i.icon.icon-cart
            a(href="#").link Подробнее
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          .other-items-block
            .img
              img(src="images/showcase-item1.png" alt="Газета «Правда»")
            h4 Газета «Правда»
            p Эксклюзивный подарок начальнику,  коллеге, #[br] родным на день рождения и юбилей
            .price от 1 390 Р
            a.btn.btn-icon(href="")
              span.text Заказать
              .circle
                i.icon.icon-cart
            a(href="#").link Подробнее
  // end other-items
