//- title: Index Page
extends layouts/_layout
block head
  - var title = 'Главная: Книга правда'
block content
  // start promo
  section.promo.promo-pravda 
    .promo-inner
      // start promo-top
      .promo-top
        nav.promo-navigation
          a.promo-top-link(href="#" data-aos="fade-up" data-aos-anchor=".promo")
            .wrap
              h3 Газета в подарок
              p на день рождения
              img(src="images/pravda-small.jpg" alt="Газета в подарок")
          a.promo-top-link.active(href="#" data-aos="fade-up" data-aos-anchor=".promo")
            .wrap
              h3 Книга «Правда»
              p на день рождения
              img(src="images/pravda-small.jpg" alt="Газета в подарок")
          a.promo-top-link(href="#" data-aos="fade-up" data-aos-anchor=".promo")
            .wrap
              h3 Газета в подарок
              p на юбилей свадьбы
      // end promo-top
      // start promo-middle
      .promo-middle 
        .promo-leftside(data-aos="fade-left" data-aos-delay="1000" data-aos-anchor=".promo")
          h1 Книга «Правда» — оригинальный подарок #[br]на День рождения!
          .promo-leftside-lined
            .range.range-single
              .range-block
                span.word цена
                .price 
                  span 6990
                  i.ruble e
            a.btn.btn-yellow.btn-icon(href="#")
              span.text Заказать
              .circle
                i.icon.icon-cart
          .promo-leftside-additional
            h4 Что представляет собой книга «Правда»?
            p Этот эксклюзивный подарок руководителю, коллеге или родным создается специально для виновника торжества и содержит набор статей из «Правды» за определенные важные дни из его биографии – День рождения,  совершеннолетие, свадьба, рождение детей и дальнейшие события
        .promo-center(data-aos="fade-left" data-aos-delay="2000" data-aos-anchor=".promo")
          .wrap
            img.pravda-newspaper-pic(src="images/pravda-book-large.png" alt="Газета Правда")
        .promo-rightside(data-aos="fade-in" data-aos-delay="3000" data-aos-anchor=".promo")
          ul.reset-list.item-features-list
            li(data-aos="fade-left" data-aos-delay="3000" data-aos-anchor=".promo" data-aos-duration="1000")
              .text Мы берем номер газеты «Правда» за указанный Вами день
            li(data-aos="fade-left" data-aos-delay="4000" data-aos-anchor=".promo" data-aos-duration="1000") 
              .text Помещаем в него статью о каждом знаменательном событии
            li(data-aos="fade-left" data-aos-delay="5000" data-aos-anchor=".promo" data-aos-duration="1000") 
              .text Дизайнер по Вашему пожеланию дополнит материалы книги фотографией именинника
            li(data-aos="fade-left" data-aos-delay="6000" data-aos-anchor=".promo" data-aos-duration="1000") 
              .text Благодаря мастерству наших дизайнеров фото и статья будут органично вписаны в страницы книги!
          a.ready-book-link(href="#" data-aos="fade-up" data-aos-delay="6000" data-aos-anchor=".promo" data-aos-duration="800")
            include data/picture.svg
            span.text Фото готовой книги
          .promo-video(data-aos="fade-up" data-aos-delay="7000" data-aos-anchor=".promo")
            .promo-video-explain Объясняющее видео
            a.promo-video-link.popup-link(href="#popup-video")
              img(src="images/video-book.jpg" alt="Видео")
      // end promo-middle
      // start promo-bottom
      .promo-bottom(data-aos="fade-in" data-aos-delay="8000" data-aos-anchor=".promo")
        .promo-bottom-links
          a.promo-bottom-link(href="#")
            span Подробнее о процессе заказа
            .circle
              include data/arr-small-right.svg
        .share-block
          .share-text
            include data/mail.svg
            span.text Поделиться
          .ya-share2(data-services="vkontakte,odnoklassniki,twitter,facebook")
      // end promo-bottom
  // end promo
  // start gallery
  section.gallery 
    .container
      h2.section-heading.colored-yellow(data-aos="fade-down" data-aos-anchor=".gallery") Фото вручений
      h4(data-aos="fade-in" data-aos-anchor=".gallery" data-aos-delay="1000") Представьте себе удивление именинника, когда он увидит заметки о себе #[br] в окружении событий и оригинальных статей «Правды» за этот день!
      p(data-aos="fade-in" data-aos-anchor=".gallery" data-aos-delay="1800") Мы гарантируем целую гамму эмоций от именинника – от удивления до восторга!
      .lamps(data-aos="fade-in" data-aos-anchor=".gallery" data-aos-delay="2600")
        .lamp
        .lamp.lamp-center
        .lamp.lamp-right
      .gallery-slider.swiper-container
        .swiper-wrapper
          // start slide
          .swiper-slide
            .pic-big(data-aos="fade-right" data-aos-anchor=".gallery-slider" data-aos-delay="0")
              img(src="images/gallery-book1.jpg")
            .pic-group
              .pic-mini(data-aos="fade-right" data-aos-anchor=".gallery-slider" data-aos-delay="0")
                img(src="images/gallery-book2.jpg")
              .pic-mini(data-aos="fade-left" data-aos-anchor=".gallery-slider" data-aos-delay="")
                img(src="images/gallery-book3.jpg")
              .pic-mini(data-aos="fade-right" data-aos-anchor=".gallery-slider" data-aos-delay="")
                img(src="images/gallery-book2.jpg")
              .pic-mini(data-aos="fade-left" data-aos-anchor=".gallery-slider" data-aos-delay="")
                img(src="images/gallery-book3.jpg")
            .pic-big(data-aos="fade-left" data-aos-anchor=".gallery-slider" data-aos-delay="")
              img(src="images/gallery-book1.jpg")
          // end slide
          // start slide
          .swiper-slide
            .pic-big(data-aos="fade-right" data-aos-anchor=".gallery-slider" data-aos-delay="0")
              img(src="images/gallery-book1.jpg")
            .pic-group
              .pic-mini(data-aos="fade-right" data-aos-anchor=".gallery-slider" data-aos-delay="0")
                img(src="images/gallery-book2.jpg")
              .pic-mini(data-aos="fade-left" data-aos-anchor=".gallery-slider" data-aos-delay="")
                img(src="images/gallery-book3.jpg")
              .pic-mini(data-aos="fade-right" data-aos-anchor=".gallery-slider" data-aos-delay="")
                img(src="images/gallery-book2.jpg")
              .pic-mini(data-aos="fade-left" data-aos-anchor=".gallery-slider" data-aos-delay="")
                img(src="images/gallery-book3.jpg")
            .pic-big(data-aos="fade-left" data-aos-anchor=".gallery-slider" data-aos-delay="")
              img(src="images/gallery-book1.jpg")
          // end slide
          // start slide
          .swiper-slide
            .pic-big(data-aos="fade-right" data-aos-anchor=".gallery-slider" data-aos-delay="0")
              img(src="images/gallery-book1.jpg")
            .pic-group
              .pic-mini(data-aos="fade-right" data-aos-anchor=".gallery-slider" data-aos-delay="0")
                img(src="images/gallery-book2.jpg")
              .pic-mini(data-aos="fade-left" data-aos-anchor=".gallery-slider" data-aos-delay="")
                img(src="images/gallery-book3.jpg")
              .pic-mini(data-aos="fade-right" data-aos-anchor=".gallery-slider" data-aos-delay="")
                img(src="images/gallery-book2.jpg")
              .pic-mini(data-aos="fade-left" data-aos-anchor=".gallery-slider" data-aos-delay="")
                img(src="images/gallery-book3.jpg")
            .pic-big(data-aos="fade-left" data-aos-anchor=".gallery-slider" data-aos-delay="")
              img(src="images/gallery-book1.jpg")
          // end slide
          // start slide
          .swiper-slide
            .pic-big(data-aos="fade-right" data-aos-anchor=".gallery-slider" data-aos-delay="0")
              img(src="images/gallery-book1.jpg")
            .pic-group
              .pic-mini(data-aos="fade-right" data-aos-anchor=".gallery-slider" data-aos-delay="0")
                img(src="images/gallery-book2.jpg")
              .pic-mini(data-aos="fade-left" data-aos-anchor=".gallery-slider" data-aos-delay="")
                img(src="images/gallery-book3.jpg")
              .pic-mini(data-aos="fade-right" data-aos-anchor=".gallery-slider" data-aos-delay="")
                img(src="images/gallery-book2.jpg")
              .pic-mini(data-aos="fade-left" data-aos-anchor=".gallery-slider" data-aos-delay="")
                img(src="images/gallery-book3.jpg")
            .pic-big(data-aos="fade-left" data-aos-anchor=".gallery-slider" data-aos-delay="")
              img(src="images/gallery-book1.jpg")
          // end slide
        .swiper-pagination
  // end gallery
  // start reviews
  section.reviews.reviews-yellow
    .container
      .reviews-top(data-aos="fade-up" data-aos-anchor=".reviews" data-aos-delay="0")
        h2.section-heading О нас уже более 3600 отзывов!
        a.leave-review-link(href="#")
          .circle
            include data/pero.svg
          span.text Оставить отзыв
    .reviews-slider.swiper-container
      a.arr.arr-left(href="#" role="button")
      a.arr.arr-right(href="#" role="button")
      .swiper-wrapper
        .swiper-slide
          .reviews-item(data-aos="fade-left" data-aos-anchor=".reviews" data-aos-delay="400")
            .date
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
        .swiper-slide(data-aos="fade-left" data-aos-anchor=".reviews" data-aos-delay="800")
          .reviews-item
            .date
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
        .swiper-slide(data-aos="fade-left" data-aos-anchor=".reviews" data-aos-delay="1200")
          .reviews-item
            .date
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
        .swiper-slide
          .reviews-item
            .date
              span.icon-calendar
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
        .swiper-slide
          .reviews-item
            .date
              span.icon-calendar
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
        .swiper-slide
          .reviews-item
            .date
              span.icon-calendar
              span.icon.icon-calendar
              span 26.04.2017
            h4.reviews-item-name Светлана
            p Команда Timesprint.ru ! Благодарим за быстрое, качественное , профессиональное исполнение нашего заказа. Менеджеры были очень вежливы... 
      a.all-reviews-link(href="") 
        span Все отзывы
      .swiper-pagination
  // end reviews
  // start action-section
  section.action-section.action-section-book
    .circle-present(data-aos="zoom-out" data-aos-anchor=".action-section")
    .container
      h2.section-heading.section-heading-large(data-aos="fade-up" data-aos-anchor=".action-section" data-aos-delay="400") Книга «Правда» - это по-настоящему #[br] эксклюзивный подарок!
      p(data-aos="fade-in" data-aos-anchor=".action-section" data-aos-delay="800")
        strong Да, мы можем так говорить с полной уверенностью. Ведь каждая книга «Правда» создается специально #[br] для Вашего именинника и четко привязана к датам важных событий в его жизни
      p(data-aos="fade-in" data-aos-anchor=".action-section" data-aos-delay="800") Вы дарите не просто книгу – Вы дарите путешествие в прошлое, возможность оглянуться по сторонам и посмотреть, что же происходило в памятные для именинника дни. Листая страницы книги, слушая их тихий шелест, виновник торжества снова почувствует все прекрасные и теплые эмоции, связанные с этими событиями.
      p(data-aos="fade-in" data-aos-anchor=".action-section" data-aos-delay="900") Вся подборка формируется в красиво оформленную книгу в шикарной обложке
    .book-module
      // REMOVE THIS
      img(src="images/book-module.jpg" alt="")
      // ------
    a.btn.btn-yellow.btn-icon(href="")
      span.text Сделать подарок
      .circle
        i.icon.icon-cart
  // end action-section
  // start video
  .container
    .video(data-aos="zoom-out")
      .video-top
      .video-content
        iframe(src="https://www.youtube.com/embed/54HGwImd5yQ" frameborder="0" allowfullscreen)
      .video-bottom
  // end video
  // start process-steps
  section.process-steps 
    .container
      h2.section-heading(data-aos="fade-up" data-aos-delay="400" data-aos-anchor=".process-steps") Как все будет происходить
      .group
        // start process-step
        .process-step(data-aos="fade-left" data-aos-delay="800" data-aos-anchor=".process-steps")
          .circle 1
          .text Вы оформляете заказ на сайте нажав кнопку #[a(href="#") Заказать]. Также можно приехать к нам в офис в Москве
        // end process-step
        // start process-step
        .process-step(data-aos="fade-left" data-aos-delay="1200" data-aos-anchor=".process-steps")
          .circle 2
          .text Далее выбираете рамку, дату газеты, добавляете фото и текст статьи. #[br] #[a(href="") Шаблоны статей]
        // end process-step
        // start process-step
        .process-step(data-aos="fade-left" data-aos-delay="1600" data-aos-anchor=".process-steps")
          .circle 4
          .text Мы связываемся с Вами для уточнения деталей по заказу и спрашиваем Ваши пожелания
        // end process-step
        // start process-step
        .process-step(data-aos="fade-left" data-aos-delay="2000" data-aos-anchor=".process-steps")
          .circle 4
          .text Мы запрашиваем газету из архива и изготавливаем заказ в кратчайшие сроки
        // end process-step
        // start process-step
        .process-step(data-aos="fade-left" data-aos-delay="2400" data-aos-anchor=".process-steps")
          .circle 5
          .text Далее мы передаем заказ в доставку. Также можно забрать заказ самовывозом
        // end process-step
  // end process-steps
  // start book-details
  section.book-details 
    // start book-details-slider
    .book-details-slider.swiper-container(data-aos="fade-right-big" data-aos-duration="2000")
      a.arr.arr-left(href="#" role="button")
      a.arr.arr-right(href="#" role="button")
      .swiper-wrapper
        .swiper-slide
          img(src="images/pravda-book-large.png" alt="" width="512" height="601")
        .swiper-slide
          img(src="images/pravda-book-large.png" alt="" width="512" height="601")
        .swiper-slide
          img(src="images/pravda-book-large.png" alt="" width="512" height="601")
        .swiper-slide
          img(src="images/pravda-book-large.png" alt="" width="512" height="601")
      .swiper-pagination
    // end book-details-slider
    // start book-details-info
    .book-details-info(data-aos="fade-left-big" data-aos-duration="2000")
      .inner 
        h2.section-heading Материалы книги, помимо газет, включают в себя информацию о том:
        ul.reset-list.custom-list
          li Что происходило в истории в разные годы в день рождения именинника
          li Какие знаменитые люди родились с ним в один день
          li Какие праздники отмечаются в мире в этот день
          li Все материалы книги дополнены Советскими плакатами, которые непременно навеют ностальгию
          li Также в книге есть пустые страницы для того, чтобы Вы смогли написать еще много теплых слов имениннику
        div.block
          p
            strong И это еще не всё!
          p К книге прилагается красивая подарочная коробка, выполненная из шикарных, приятных на ощупь, материалов. То есть Вы можете сразу ехать на торжество  и преподнести Ваш подарок. Без сомнения, этот подарок не только запомнится имениннику, но и станет настоящей реликвией и будет бережно храниться долгие годы и передаваться из поколения в поколение
        div.block
          p
            strong Формат книги А4. Количество страниц около 100
          p  Срок изготовления 3-4 рабочих дня. Возможно срочное изготовление  за 2 дня за дополнительную плату — #[span.colored-yellow 1000 Р]
        .bottomline
          .range.range-single
            .range-block
              span.word цена
              .price 
                span 6990
                i.ruble e
          a.btn.btn-yellow.btn-icon(href="#")
            span.text Заказать
            .circle
              i.icon.icon-cart
    // end book-details-info
  // end book-details
  // start any-questions
  section.any-questions.any-questions-secondary(data-aos="fade-in")
    .container
      h2.section-heading У вас остались вопросы?
      p Для уточнения всех интересующих Вас вопросов вы можете позвонить по телефонам #[br] в Москве: #[span +7 (495) 215-09-65] или в С.-Петербурге: #[span +7 (812) 313-24-95]
  // end any-questions
  // start additional-items
  section.additional-items.additional-items-book
    h2.section-heading В дополнении к выбранному варианту изготовления вы можете #[span.colored-yellow дополнительно приобрести]
    .group
      // start additional-item
      .additional-item.additional-item-single
        .inner
          .display-table
            .circle-cell
              .circle DVD
            .content-cell
              p DVD-открытка с кинохроникой года рождения вашего именинника
              a(href="#") Подробнее
            .price-cell
              a.additional-photo-link.popup-link(href="#") 
                .circle
                  include data/photo.svg
                span.price 790 Р
      // end additional-item
    .additional-items-bottom
      a.btn.btn-yellow.btn-icon(href="")
        span.text Сделать заказ
        .circle
          i.icon.icon-cart
  // end additional-items
  // start other-items
  .other-items
    .container
      h2.section-heading Наши другие оригинальные подарки
      .row
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          .other-items-block
            .img
              img(src="images/pravda-book.png" alt="Книга «Правда»")
            h4 Книга «Правда»
            p Эксклюзивный подарок начальнику, коллеге, #[br] родным на день рождения и юбилей
            .price от 6 990 Р
            a.btn.btn-yellow.btn-icon(href="")
              span.text Заказать
              .circle
                i.icon.icon-cart
            a(href="#").link Подробнее
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          .other-items-block
            .img
              img(src="images/showcase-item1.png" alt="Газета «Правда»")
            h4 Газета «Правда»
            p Эксклюзивный подарок начальнику,  коллеге, #[br] родным на день рождения и юбилей
            .price от 1 390 Р
            a.btn.btn-yellow.btn-icon(href="")
              span.text Заказать
              .circle
                i.icon.icon-cart
            a(href="#").link Подробнее
  // end other-items
